<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td height="15" style="font-size: 0;line-height: 0;">&nbsp;</td>
  </tr>
  <tr>
    <td><font face="Arial,Helvetica, sans-serif" size="2" color="#303042" style="font-size:14px; line-height:22px;">
      <h3>Hola <%= @name %>,</h3>

      <p>
        Ha pasado una semana desde la última actualización de tu proyecto <%= @project_name %> ¿estas seguro que estás emprendiendo?
         En Spartans Academy no queremos "Wantepreneurs" gente que dice que emprende porque "está de moda" buscamos que sean personas
        comprometidas con sus proyectos y consigo mismas.

      </p>

      <p>
        Si has estado trabajando arduamente y solo no has subido nada a la plataforma te sugerimos lo hagas de inmediato,
        si no subes tu progreso no hay forma en que sepamos como has avanzado y podamos ayudarte, si tienes alguna duda de cómo hacerlo favor de contactarnos.
      </p>
    </font></td>
  </tr>
  <tr>
    <td colspan="3" height="18" style="font-size: 0;line-height: 0;"></td>
  </tr>
  <tr>
    <td colspan="3" height="18" style="font-size: 0;line-height: 0;">&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table width="199" cellpadding="0" cellspacing="0" border="0" bgcolor="#faed09">
        <tr>
          <td colspan="3" bgcolor="#d8cc00" style="font-size: 0;line-height: 0;" height="1">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#d8cc00" style="font-size: 0;line-height: 0;" width="1">&nbsp;</td>
          <td align="center" width="197" height="47" valign="middle">
            <a style="text-decoration: none;" href="<%= new_user_session_url %>">
              <font color="#313143" size="4" style="font-size:18px; line-height:16px; font-weight:bold;" face="Arial,Helvetica, sans-serif">
                Entrar a Spartans Academy
              </font>
            </a></td>
          <td bgcolor="#d8cc00" style="font-size: 0;line-height: 0;" width="1">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" bgcolor="#d8cc00" style="font-size: 0;line-height: 0;" height="1">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="17" style="font-size: 0;line-height: 0;">&nbsp;</td>
  </tr>
  <tr>
    <td><font face="Arial,Helvetica, sans-serif" size="2" color="#303042" style="font-size:14px; line-height:20px;">Saludos,<br>Equipo de Spartans Academy</font></td>
  </tr>
  <tr>
    <td height="27">&nbsp;</td>
  </tr>
</table>