<div id="main">
  <div class="signupWrapper">
    <div class="signUpbody">
      <h1 class="title-lll" style="margin-top: 20px;">Spartans Online Academy</h1>
      <div class="signInner">
        <h3>Thanks for signing up!  We're entering private beta in September with a small group of startups.  Email us if you really need access and we'll try to get you in (<a href="mailto:<%= ENV['EMAIL_SUPPORT'] %>"><%= ENV['EMAIL_SUPPORT'] %></a>).</h3>
      </div>
      <p>Help us build a great product for you by completing a 2-minute survey. <a href='https://www.surveymonkey.com/s/CPCBQRQ'>Investor Survey</a> | <a href='https://www.surveymonkey.com/s/C6B9ZYB'>Entrepreneur Survey</a></p>
      <p>Find a technical co-founder at <a href='http://www.techcofounder.com'>www.techcofounder.com</a></p>
      <a href="http://twitter.com/spartanpreneur" class="twitter-follow-button" data-width='63%' data-align='right'>Follow @spartanpreneur</a>
    </div>
  </div>
</div>

<% content_for(:scripts) do %>
  <script src="http<%= ['production', 'staging'].include?(Rails.env) ? 's' : nil %>://platform.twitter.com/widgets.js" type="text/javascript"></script>
  <script type="text/javascript">
    mpq.name_tag("<%= @signup.email %>");
    mpq.track("Email Submitted");
  </script>
<% end %>