<section class="container-fluid" id="section1">
  <h1 class="text-center v-center">HERRAMIENTA DE ADMINISTRACIÓN PARA LA INNOVACIÓN Y LAS STARTUPS.</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-2 text-center"><h3>Pensado para Startups</h3><p>Porque sabemos que las startups no son versiones pequeñas o nuevas de una empresa normal, las herramientas actuales no estan pensadas para ellas. Ésta si.</p><i class="fa fa-cog fa-5x"></i></div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 text-center"><h3>Enfocado en la innovación</h3><p>Hay herramientas de administración de proyectos y de empresas, pero no administración de la innovación, para esto sirve StartupManager.</p><i class="fa fa-user fa-5x"></i></div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="row">
          <div class="col-sm-10 text-center"><h3>Fácil y Completo</h3><p>Administra todo tu equipo, crea y asigna tareas a realizar, plasma y valida tu modelo de negocios, crea hipótesis y experimentos, todo desde un mismo lugar.</p><i class="fa fa-mobile fa-5x"></i></div>
        </div>
      </div>
    </div><!--/row-->
    <div class="row"><br></div>
  </div><!--/container-->
</section>

<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>¿Por qué deberías estar obsesionado con Administar la Innovación en tu empresa?</h1>
      <br>
      <p class="lead">Innovación es satisfacer las necesidades actuales o futuras de los clientes convirtiendo una idea en un producto o servicio con velocidad y urgencia usando la menor cantidad de recursos posible y al mínimo costo. Usando Herramientas de administración de la innovación en las empresas pueden crear 10 veces más iniciativas de innovación a 1/5 del tiempo.</p>
      <br>
      <i style="font-size:120px" class="fa fa-camera fa-5x"></i>
      <p><a href="http://steveblank.com/2015/08/21/innovation-50x-in-companies-and-government-agencies/">Innovación 50x Steve Blank</a></p>
    </div>
  </div>
</section>


<section class="container-fluid" id="section5">
  <div class="col-sm-10">
    <div class="container">
      <div class="row text-center">
        <h1>Comienza a administrar tu startup con nosotros</h1>
        <br><br>
        <div class="col-sm-4 col-xs-12">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              <h2 class="list-group-item-heading">Basico</h2>
              <h6>Para ti y tu cofounder</h6>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Hasta 2 miembros en la plataforma</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">1 Proyecto</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">1GB de almacenamiento</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Soporte básico por correo electrónico</p>
            </a>
            <a href="/users/sign_up" class="list-group-item">
              <button class="btn btn-primary btn-lg btn-block">$149 MXN al mes</button>
            </a>
          </div>
        </div><!--/left-->

        <div class="col-sm-4 col-xs-12">
          <div class="list-group text-center">
            <a href="#" class="list-group-item active">
              <h2 class="list-group-item-heading">Avanzado</h2>
              <h6>Equipo Startup</h6>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Hasta 10 miembros en la plataforma</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">3 Proyectos</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">5GB de almacenamiento</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Soporte preferencial por correo electrónico</p>
            </a>
            <a href="/users/sign_up" class="list-group-item">
              <button class="btn btn-default btn-lg btn-block">$499 MXN al mes</button>
            </a>
          </div>
        </div><!--/middle-->

        <div class="col-sm-4 col-xs-12">
          <div class="list-group text-center">
            <a href="#" class="list-group-item active">
              <h2 class="list-group-item-heading">Empresarial</h2>
              <h6>Para las empresas que buscan innovar</h6>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">miembros ilimitados en la plataforma</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Proyectos Ilimitados</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">50GB de almacenamiento</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Soporte preferencial por correo electrónico y teléfono</p>
            </a>
            <a href="/users/sign_up" class="list-group-item">
              <button class="btn btn-default btn-lg btn-block">Contáctanos</button>
            </a>
          </div>
        </div><!--/right-->

      </div><!--/row-->
    </div><!--/container-->
  </div>
</section>

<section class="container-fluid" id="section8">
  <h2 class="text-center">¿Listo para la Innovación?</h2>
  <p class="text-center lead">Empieza ahora a administrar tu startup o proyecto innovador</p>
  <div class="col-md-6 col-md-offset-3">
    <a href="/users/sign_up" style="padding-bottom: 25px" class="btn btn-success btn-lg btn-block">
      Crear cuenta
    </a>
  </div>

</section>