<div class="row">
  <div class="container text-center"">
    <div class="col-md-12 text-center jumbotron">
      <h1><span>Acompañamiento</span> para el arranque de tu negocio.</h1>
      <p class="lead"><strong>No lo hagas solo, nosotros te ayudamos a disminuir el riezgo de iniciar un negocio</strong></p>
      <p class="lead">
        Administra el conocimiento generado y convierte tu idea de negocio en un modelo de negocio que pueda tener éxito
      </p>
      <p class="text-center"><%= link_to("Comenzar mi emprendimiento", new_user_registration_path, :class => "btn btn-lg btn-success") %>
      </p>
    </div>

    <div class="col-md-4">
      <img src="<%= asset_path 'v2/landing-problema.png' %>">
    <h2>
      Encuentra un problema que valga la pena resolver
    </h2>
    <p class="lead">
      Sal a encontrar a tus clientes de manera estratégica, con nuestra guía durante 30 días para aprender de tu mercado.
    </p>

    </div>
    <div class="col-md-4">
      <img src="<%= asset_path 'v2/landing-mercado.png' %>">
    <h2>
      Sal al mercado, pero no lo hagas tu solo
    </h2>
    <p class="lead">
      Desarrolla tu negocio y comienza a vender  con nuestra asesoría virtual por 30 días más hasta que te sientas seguro de seguir adelante.
    </p>

    </div>
    <div class="col-md-4">
      <img src="<%= asset_path 'v2/landing-software.png' %>">
    <h2>
      Admnistra tu emprendimiento.
    </h2>
    <p class="lead">
      Asi como hay software para administrar empresas, este es una plataforma para administrar emprendimientos
    </p>

    </div>
  </div>
</div>