<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
  <meta content='IE=7' http-equiv='X-UA-Compatible' />
  <meta http-equiv="refresh" content="15" />
  <title>System down for maintenance</title>

  <style type="text/css">
    body {
      text-align: center;
      font-family: Courier;
      font-size: 24pt;
    }
  </style>
</head>

<body>
  <p>
   The system is down
   <br/>
   as of <%= Time.now.strftime("%I:%M%P %Z") %>.
   <br/>
   It will be back soon.
  </p>
</body>
</html>
