<style>
  .underline {
    text-decoration: underline
  }

  .first {
    padding-left: 24px;
  }
</style>
<h3 style="text-align: center;">Techcofounder, Inc. Privacy Policy</h3>
<p class="first">
  Techcofounder, Inc. (“Company”) has created this privacy policy (“Privacy Policy”) to explain and summarize how we
  collect, use and protect your personal information and non-personal information as you interact with us online through
  the website and use the LeanLaunchLab services (the “Website”). Company reserves the right to change this Privacy
  Policy at any time by posting a new privacy policy on the Website. Therefore, you are responsible for periodically
  checking the Privacy Policy for changes. By accessing the Website, you indicate your agreement to and acceptance of
  the terms of this Privacy Policy, and consent to the collection, retention and use of your personally identifiable
  information consistent with this Privacy Policy, as amended from time to time. Your use of the Website is governed at
  all times by the Techcofounder, Inc. Terms of Service located at
  <%= link_to terms_url, terms_url %>.
  If you are visiting from outside the
  United States there may be special rules or limitations on your use of this Website.
</p>
<ol type="I">
<li>
  INFORMATION WE COLLECT AND HOW WE USE THE INFORMATION
  <ol type="A">
    <li>
      You may browse the Website without providing personally identifiable information. If you choose to provide your
      personal information, you consent to the storage of that information on the Company’s servers in the United
      States and to use of that information as stated in this Privacy Policy, as amended from time to time. Company
      collects and uses information you provide to us or that we learn from your use of this Website. Such information
      may include personal information, such as your name, e-mail address or user ID, or non-personal information,
      which is information that does not specifically identify an individual. Company does not share your personal
      information with third parties for their direct marketing purposes. We may share your personal information where
      it is necessary for us to complete a transaction or do something that you have asked us to do. We may share
      non-personal information about our users in the aggregate with third parties for various purposes, including, to
      help us better understand and improve our services, and for advertising or marketing purposes.
    </li>
    <li>
      You agree that the Company may collect and use your personal and non-personal information in the following ways:
    </li>
    <ol type="1">
      <li>
        <span class="underline">User Accounts.</span> In order to access certain areas of the Website, you may be
        required to create a user account and/or provide certain personal information such as your name and your email
        address. In order to access and use areas of the Website restricted to paying users, you are required to
        provide additional information such as your credit card information. We may use the information you provide in
        online registration forms to notify you periodically about important changes to the Website (such as a change
        to this Privacy Policy) or notice of a security breach. With your consent, we may also use the information you
        provide to us to notify you of new Company products and services, and special offers and contests that may be
        of interest to you. Regardless of any other provision of this Privacy Policy, we may permanently store any
        personal information provided by you via such registration process.
      </li>
      <li>
        <span class="underline">Online Transactions.</span> If we offer you the opportunity to purchase products or
        services online and you choose to purchase such products or services, including purchase of subscription
        services, you may be asked to share personal information in addition to the information provided to create a
        user account in order to complete a transaction. In addition, you may be asked for information needed to
        complete your order, contact you to confirm the order, and provide related customer service. This information
        is used, for example, to effect your transactions, to create and share aggregate reports about these
        transactions, and to perform credit fraud screening services for transactions between you and Company and/or
        our authorized service providers.
      </li>
      <li>
        <span class="underline">Recruitment and Job Applications.</span> You may provide us with personal information,
        such as that contained on a resume or a curriculum vitae, in connection with a job application or inquiry. We
        may use this information for the purpose of employment consideration of your inquiry. We may keep your
        information on file for a reasonable period of time for future consideration.
      </li>
      <li>
        <span class="underline">Public and Shared Areas.</span> Any information and other content (such as written
        works, pictures or videos) disclosed in public areas of the Website will become public information. We cannot
        control the use of information and other content disclosed in public forums, such as bulletin boards, news
        groups, communication facilities and chat rooms, nor can we control information and other content disclosed
        through shared sites or pages. You should exercise caution when disclosing information and other content in
        public or shared areas and should refrain from disclosing your personal information. Please remember that any
        information or other content that is disclosed in these areas, including your name, becomes available to
        others and you should exercise caution when deciding to disclose your personal information.
      </li>
      <li>
        COMPANY WILL TREAT ANY MESSAGE BOARD POSTINGS, FEEDBACK, EMAILS OR SUGGESTIONS YOU PROVIDE TO US AS
        NON-CONFIDENTIAL AND NON-PROPRIETARY. IF YOU CHOOSE TO USE YOUR REAL NAME, YOUR NAME WILL BE AVAILABLE TO AND
        VIEWABLE BY ANYONE USING THE WORLD WIDE WEB AND/OR USING A SEARCH ENGINE.
      </li>
    </ol>
  </ol>
<li>
  OTHER USE OF COLLECTED INFORMATION
</li>
<ol type="A">
  <li>
    <span class="underline">Certain Third Party Transactions.</span> Company may work with some authorized service
    providers to provide technical and customer support, shipping, credit card processing, product fulfillment or
    other services. Where practical, Company will require these service providers to safeguard personal information
    you provide to us. To the extent it is necessary for these service providers to complete their contractual
    obligations to Company, you agree that these third parties may have access to or process your personal
    information. Company generally limits their use of your personal information to the purpose for which it was
    shared. You further agree that Company may sometimes permit our authorized service providers to have access to
    aggregate statistics about our customers, sales, traffic patterns, and related site information.
  </li>
  <li>
    <span class="underline">Mergers, Acquisitions and Bankruptcy.</span> You agree that Company reserves the right to
    transfer all personal information in its possession to a successor organization in the event of a merger,
    acquisition, or bankruptcy or other sale of all or a portion of Company’s assets. Other than to the extent ordered
    by a bankruptcy or other court, the use and disclosure of all transferred personal information will be subject to
    this Privacy Policy, or to a new privacy policy if you are given notice of that new privacy policy and you
    affirmatively opt-in to accept it. Personal information submitted or collected after a transfer, however, may be
    subject to a new privacy policy adopted by the successor organization.
  </li>
  <li>
    <span class="underline">As Required by Law and Other Extraordinary Disclosures.</span> Company may be required to
    disclose your personal information if it: (i) believes it is reasonably necessary to comply with legal process
    (such as a court order, subpoena, search warrant, etc.) or other legal requirements of any governmental authority;
    (ii) would potentially mitigate our liability in an actual or potential lawsuit; (iii) is otherwise necessary to
    protect our rights or property; or (iv) is necessary protect the interest of other users of our Website.
  </li>
  <li>
    <span class="underline">Cookies.</span> To facilitate your use of the Website, you authorize the Company to use
    "cookies." A cookie is a small amount of data that the Company’s servers transfer to your browser and that only
    Company’s servers can read. When you arrive at the Website, the cookie file captures your unique session
    identifier number, and other session data, which are used in some of the Website's features. If you do not wish to
    utilize cookies, you may disable or delete them from within your Internet browser application by accessing the
    security or privacy settings. You may be required to have cookies enabled to access certain portions of the
    Website.
  </li>
</ol>
<li>
  CHILDREN
</li>
<ol type="A">
  <li>
    Company does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly
    allow such persons to register. If you are under 13, you should not attempt to register for the Website or send
    information about yourself to us, including your name, address, telephone number, or email address. No one under
    age 13 may provide any personal information to or on the Website. If a child under 13 submits information through
    any part of the Website without verification of parental consent, and we learn the person submitting the
    information is a child or such consent has not been verified, we will attempt to delete this information as soon
    as possible. Because we do not knowingly collect any personal information from children under 13, we do not use or
    disclose such information to third parties. If you believe that Company may have any information about a child
    under 13, please contact us at 246 2nd St #701, San Francisco, CA 94105, USA.
  </li>
</ol>
<li>SECURITY</li>
<ol type="A">
  <li>
    No data transmissions over the Internet can be guaranteed to be 100% secure. Consequently, we cannot ensure or
    warrant the security of any information you transmit to us and you do so at your own risk. Once we receive your
    transmission, we make reasonable efforts to ensure security on our systems. We use secure server software (SSL)
    and firewalls to protect your information from unauthorized access, disclosure, alteration, or destruction.
    However, please note that this is not a guarantee that such information may not be accessed, disclosed, altered or
    destroyed by breach of such firewalls and secure server software. Company is not responsible for circumvention of
    any privacy settings or security measures contained on the Website.
  </li>
  <li>
    You understand and acknowledge that, even after removal, copies of your information may remain viewable in cashed
    or archived pages or if other users who you permitted to access your information have copied or stored your
    information.
  </li>
  <li>
    If Company learns of a security systems breach we may attempt to notify you electronically so that you can take
    appropriate protective steps. By using this Website or providing personal information to us, you agree that we can
    communicate with you electronically regarding security, privacy and administrative issues relating to your use of
    the Website. Company may post a notice on our Website if a security breach occurs. If this happens, you will need
    a web browser enabling you to view the Website. Company may also send an email to you at the email address you
    have provided to us in these circumstances. Depending on where you live, you may have a legal right to receive
    notice of a security breach in writing. To receive free written notice of a security breach (or to withdraw your
    consent from receiving electronic notice) you should notify us at 246 2nd St #701, San Francisco, CA 94105, USA.
  </li>
</ol>
<li>INTERNATIONAL VISITORS AND CUSTOMERS</li>
<ol type="A">
  <li>
    This Website is hosted in the United States. If you are visiting from the European Union or other regions with
    laws governing data collection and use that may differ from United States law, please note that you are
    transferring your personal data to the United States and by providing your personal data you consent to that
    transfer. When you provide personal data to Company or our service providers or vendors, you consent to the
    processing of your data in the United States as the Website is operated in the United States.
  </li>
</ol>

<li>
  LINKS TO THIRD-PARTY SITES AND CO-BRANDED WEBSITES
</li>
<ol type="A">
  <li>
    This Website may contain links to third-party sites, however, please be aware that Company is not responsible for
    and cannot control the privacy practices of these other sites. We encourage you to read the privacy policies for
    these other sites, as they may differ from ours.
  </li>
  <li>
    This Website may contain links to co-branded web sites that may display Company’s logo and trademarks but which are
    maintained by third parties. Please read the privacy policy on the co-branded site for the applicable privacy
    practices relating to personal information collected via that site, as it may differ from this Privacy Policy. This
    Privacy Policy applies solely to personal information collected by Company.
  </li>
  <li>
    Advertisements that appear on the Website are sometimes delivered (or "served") directly to users by third party
    advertisers. Such third parties automatically receive your IP address when this happens. These third party
    advertisers may also download cookies to your computer, or use other technologies such as JavaScript and "web
    beacons" (also known as "1x1 gifs") to measure the effectiveness of their ads and to personalize advertising
    content. Doing this allows the advertising network to recognize your computer each time they send you an
    advertisement in order to measure the effectiveness of their ads and to personalize advertising content. In this
    way, they may compile information about where individuals using your computer or browser saw their advertisements
    and determine which advertisements are clicked. Company does not have access to or control of the cookies that may
    be placed by the third party advertisers. Third party advertisers have no access to your contact information stored
    on the Website unless you choose to share it with them.
  </li>
  <li>
    This Privacy Policy covers the use of cookies by Company and does not cover the use of cookies or other tracking
    technologies by any of its advertisers.
  </li>
</ol>
<li>
  CONTACT PREFERENCES
</li>
<ol type="A">
  <li>
    When you provide Company with personal information, if you allow us, we may communicate with you by the method you
    choose about topics of your choosing. Company seeks your consent to receive marketing communications from us when
    you provide your personal information.
  </li>
  <li>
    Generally, when we contact you, we will try to provide you with an easy and convenient way to notify us if you would
    not like further similar communications. To request that we remove your personally identifiable information from our
    database or to “opt-out” of any further e-mail or contact, send a request to <%= ENV['EMAIL_SUPPORT'] %>. Company will
    make a good faith effort to comply with such written request within thirty days of receipt of the request.
  </li>
</ol>
<li>
  CONTACTING TECHCOFOUNDER, INC.
</li>
<p>
  If you have any questions, comments, or concerns about this Privacy Policy, or would like to make changes to your
  personal information or contact preferences, or delete personal information you have provided to us, please email us
  at <%= ENV['EMAIL_SUPPORT'] %>.
</p>

<p>
  Postal Mail Address:<br/>
  246 2nd St #701<br/>
  San Francisco, CA 94105<br/>
  USA<br/>
</p>

<p>
  If you have a privacy concern regarding Company or this Privacy Policy and if you cannot satisfactorily resolve it
  through the use of this Website you should then write to: 246 2nd St #701, San Francisco, CA 94105, USA. In the event
  that we are still unable to resolve your concerns, Company is committed to cooperating to achieve a proper resolution
  of
  your privacy concerns.
</p>

<p>
  Effective Date: 10/20/2011
  <br/>
  Previous Modification: 10/20/2011
</p>
</ol>
<p>
  &nbsp;
</p>
