<% title("Page not found") %>
<div class="body-wrapper alert-message error" style="margin: 20px">
Sorry, you requested a page which doesn&rsquo;t exist.  If you think this is an application error, please let us know at <a href='mailto:<%= ENV['EMAIL_SUPPORT'] %>'><%= ENV['EMAIL_SUPPORT'] %></a>.
</div>