<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
  <meta content='IE=7' http-equiv='X-UA-Compatible' />
  <title>System error</title>

  <style type="text/css">
    body {
      text-align: center;
      font-family: Courier;
      font-size: 20pt;
    }
  </style>
</head>

<body>
  <%= image_tag 'v2/error.png' %>
  <p>
    We&rsquo;re sorry, but a system error has occurred.
    <br/>
    Our webmaster has been alerted, and we hope to have the issue resolved shortly.
  <p>
    You might be able to continue by returning to the <a href="javascript: history.go(-1)">previous page</a>.
    <br/>
    If this is an extended outage, you can track status through our <a href="http://twitter.com/spartanpreneur">Twitter feed</a>.
  </p>
</body>
</html>
