lll.views.NewResourceQuestionDialogView = Backbone.View.extend({
  
  events: {
    "click .save": "save",
  },
  
  initialize: function() {
    var self = this;
    _.bindAll(self, "destroy", "render", "save");    
    Backbone.Validation.bind(self);    
  },
  
  onDestroy: function() {    
    var self = this;
    $(self.el).dialog("close");
    Backbone.Validation.unbind(self);
  },
  
  render: function() {
    var self = this;
    
    templateLoader.loadRemoteTemplate("<%= asset_path 'v2/NewResourceQuestion.html' %>", function(data) {
      if (!self.template) {
        self.template = _.template(data);
      }
      
      $(self.el).html("<div class='financial'><div class='question-form'>" + self.template({
        question: self.model,
        label: null,
        compact: true
      }) + "</div></div>");
      
      $(self.el).dialog({
        title: self.options.label,
        width: 600,
        modal: true,
        open: function(event, ui) {
          self.delegateEvents();
          self.$("input#name").focus();
        },
        close: function(event, ui) { 
          $(self.el).dialog("destroy");
        }
      });
      
    });
    return self;
  },
  
  save: function() {
    var self = this;
    
    self.$("p.error").removeClass("error");
    self.$("span.error").empty();
    self.model.set({
      name: self.$("#name").val(),
      email: self.$("#email").val(),
      company: self.$("#company").val(),
      question: self.$("#question").val()
    });
    if (self.model.isValid()) {
      if (self.model.isNew()) {
        if (self.options.create) {
          self.options.create(self.model);
        }
      }
      else {
        if (self.options.update) {
          self.options.update(self.model);
        }
      }
      self.model.save(self.model.attributes, { 
        wait: true,
        success: function(model, response) {
          $(self.el).dialog("close");
          alert("Email sent successfully!");
        },
        error: function(model, response) {
          if (response.readyState == 0 || response.status == 0) {
            // ajax call cancelled
          }
          else {
            lll.views.error("error sending question: " + response.responseText);
            if (self.options.error) {
              self.options.error(model, response);
            }
          }          
        }
      });
    }
    else {
      self.$(".invalid").each(function() {
        $(this).closest("p").addClass("error");
        $(this).closest("p").find("span.error").text($(this).attr("data-error"));
      });
    }
    return false;
  }
    
});
