.twipsy {
  z-index: 10001;
  font-size: 13px;

 .twipsy-inner {
   text-align: left;
   
    em {
      color: #ff0;
      font-style: normal;
    }
  }
}



#alert {
  min-height: 20px;

  .flashy-message {
    padding: 3px 6px;
    top: 0;
    line-height: 12px;
  
    &.error
    {
      color: #b94a48;
    }
    
    a
    {
      background: none;
      display: inline;
      width: auto;
      height: auto;
      position: relative;
      text-indent: 0;
      font-size: inherit;
      top: 0;
      right: 0;
    }  
  }
}

.topbar
{
  z-index: 1;

  a.ui-upgrade {
    color: yellow;
  }
  
  a.ui-downgrade {
    color: red;
  }
  
  a.menu::after, .dropdown-toggle::after {
    margin-top: 20px;
  }    
  
  img.new
  {
    position: relative;
    margin-right: 5px;
  }
}

div#wrapper
{
  overflow-y: auto;
  min-height: 600px;

  #main
  {
    .project-heading
    {
      position: relative;
      float: left;
      
      h1
      {
        margin: 0 0 0 13px;
        
        span
        {
          display: block;
          padding-bottom: 5px;
          font-size: 14px;
          line-height: 14px;
          color: #8D8D8D;
        }
      }
      
      > a
      {
        display: block;
        float: left;
        margin: 5px 0 0 10px;
      }
      
      .project-list
      {
        position: absolute;
        background-color: #DEDEDE;
        border: 1px solid #EAEAEA;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        z-index: 1000;
        max-height: 500px;
        overflow-y: auto;
        top: 35px;
        width: 400px;

        padding: 10px;
        margin: 0 0 0 15px;

        ul
        {
          list-style: none;
          margin: 0;

          li
          {
            display: block;  
            border-top: 1px dotted #bfbfbf;

            &.first
            {
              border-top: none;
            }

            a
            {
              color: black;
              display: block;
            }
          }
        }
      }
    } /* .project-heading */

    .project-tabs
    {
      float: right;
      margin-top: 27px;
      
      ul.toplink
      {
        li
        {
          a
          {
            margin: 0;         
          }
        }
      }
    }

    .body-wrapper
    {
      clear: both;
    }

    .btn
    {
      float: none;
    }
  }
  
}

.actions
{
  .btn
  {
    float: none;
  }
}

.ui-dialog-content
{
  .btn {
    float: none;
    
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
  }
  .btn:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
  }
  .btn.primary {
    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -html-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }  
}

div#footer {
  display: block;
}
