/*
 *= require bootstrap
 *= require jquery-ui-1.8.16.custom
 *= require jquery-ui-overrides
 *= require_self
 *= require v2-overrides
 *= require_tree ./v2
 */
 
body {
  background:url('v2/pattern.jpg') 0 0 repeat;
}
.container-fluid {
  min-width: 960px;
  padding:0px ;
  position: inherit;
}
.cont {
  position:relative;
}
img { border:none; outline:none;}
h1 {
  font-size:24px ;
  font-family:"trebuchet MS", Arial, Verdana ;
  font-weight:bold ;
  color:#818181;
  text-transform:uppercase;
  margin:15px 0 10px 13px; ;
  line-height:30px ;
}
h1 a {
  color:#8D8D8D;
  text-decoration:none;
  display:inline-block;
  padding:0 25px 0 0;
  background:url('v2/project-arrow.gif') 100% 12px no-repeat;
}
h1 a:hover {
  color:#626060;
  text-decoration:none;
  background-position:100% -9px;
}
.spacer { clear:both;}
/*Wrapper for body pattern image*/
div#wrapper{
  /*top:45px;left:0px;right:0px;bottom:0px;
  background:url(<%= asset_path 'v2/repeat.jpg' %>) 0 0 repeat-x;*/
  background-color:#fff;
  height:100%;
}
/*Header CSS*/
.topbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  position:relative;
  height:50px;
}
.topbar div {
  position:relative;
}
.topbar a {
  color: #7C7E80;
  text-shadow: 1px 1px 1px #E9ECEF;
}
.topbar-inner, .topbar .fill {
  background:url('v2/headerBg.jpg') 0 0 repeat-x;
  filter: none;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none;
}
.topbar h3 a, .topbar .brand {
  float: left;
  display: block;
  padding: 0 ;
  margin:6px 0 6px 12px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}

.topbar div > ul, .nav {
  display: block;
  float: right ;
  margin: 0 20px 0 0;
  position: relative;
  right: 0;
}

.topbar div > ul > li, .nav > li {
  display: block;
  float: left;
  padding:0 5px ;
}

.topbar div > ul a, .nav a {
  display: block;
  float: none;
  padding:1px 10px;
  text-decoration: none;
  font:bold 12px/47px "trebuchet MS", Arial, Verdana;
  text-transform:uppercase;
  position:relative;
}
.topbar div > ul a img, .nav a img {
  position:absolute; right:-4px; top:45%;
}
/*.topbar div > ul a.ben, .nav a.ben {
  background:url(<%= asset_path 'v2/ben-icon.gif' %>) 100% 50% no-repeat;
}
.topbar div > ul a.ben:hover, .nav a.ben:hover {
  background:url(<%= asset_path 'v2/ben-icon.gif' %>) 100% 50% no-repeat;
}*/
.topbar div > ul a:hover, .nav a:hover {
  color: #606163;
  text-decoration: none;
}

.topbar div > ul .active > a, .nav .active > a {
  color: #3F3F3F;
  text-decoration: none;
  padding:0 9px;
  background:none;
  line-height:49px;
  background:url('v2/hover-bg.gif') 50% 100% no-repeat;
}

/*Header CSS ends*/

/*Buttons*/
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #c5c3c3;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c5c3c3), color-stop(25%, #c5c3c3), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#c5c3c3, #c5c3c3 25%, #c5c3c3);
  background-image: -moz-linear-gradient(top, #c5c3c3, #c5c3c3 25%, #c5c3c3);
  background-image: -ms-linear-gradient(#c5c3c3, #c5c3c3 25%, #c5c3c3);
  background-image: -o-linear-gradient(#c5c3c3, #c5c3c3 25%, #c5c3c3);
  background-image: linear-gradient(#c5c3c3, #c5c3c3 25%, #c5c3c3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5c3c3', endColorstr='#c5c3c3', GradientType=0);
  padding:0;
  text-shadow: 0 1px 1px #fff;
  color: #353535;
  font-size: 10px;
  line-height: 16px;
  font-family:Arial, Helvetica, sans-serif;
  border: 1px solid #878787;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-transform:uppercase;
  float:right;
}

.btn:hover {
  -webkit-box-shadow: inset 0 2px 1px #F1F1F1;
  -moz-box-shadow: inset 0 1px 2px #F1F1F1;
  box-shadow: inset 0 2px 1px #F1F1F1;
  background-color:#878787;
  color:#fff;
  text-shadow:1px 1px 1px #5E5E5E;
  border:1px solid #878787;
  //background-position: none !important;
}

.btn.small {
  padding:0 9px !important;
  font-size: 10px !important;
}
/*Buttons ends*/

/*Dashboard Member*/
#dashboard .topbar div > ul, .nav {
  display: block;
  float: right ;
  margin: 23px 20px 0 0;
  position: relative;
  right: 0;
}

#dashboard .topbar div > ul > li, .nav > li {
  display: block;
  float: left;
  padding:10px 5px ;
}

#dashboard .topbar div > ul a, .nav a {
  display: block;
  float: none;
  padding:1px 9px 8px;
  text-decoration: none;
  font:bold 12px/16px "trebuchet MS", Arial, Verdana;
  text-transform:uppercase;
  position:relative;
}
#dashboard .topbar div > ul a img, .nav a img {
  position:absolute; right:-4px; top:8px;
}

/*Footer Styling*/
#footer {
  background:url('v2/footer-bg.jpg') 0 0 repeat-x;
  height:84px;
  width:100%;
  position:absolute; left:0; bottom:0; z-index:1000;
  display:none;
}
.footer-logo {
  margin:26px 0 0 15px;
  float:left;
}
#footer ul {
  float:right;
  padding:24px 10px 0 0;
  margin:0;
}
#footer ul li {
  float:left;
  padding:0 10px;
  background:url('v2/footer-divider.gif') 100% 50% no-repeat;
  list-style:none;
}
#footer ul li.last {
  background:none;
  padding-right:0!important;
}
#footer ul li a {
  font:normal 12px/18px "trebuchet MS", Arial, serif;
  color:#5f737c;
  text-shadow:0px 1px 1px #f7f9fb;
  text-decoration:none;
}
#footer ul li a:hover {
  color:#394950;
}
#footer p {
  font:normal 10px/18px "trebuchet MS", Arial, serif;
  color:#5f737c;
  padding:48px 16px 0 0;
  text-align:right;
}
/*Footer Styling ends*/
/*Flashy Message*/
.flashy-message {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color:#F9EF05;
  border:1px solid #D6CE0C;
  padding:0 22px 0 13px;
  font:bold 14px/28px Arial, Helvetica, sans-serif;
  color:#282C23;
  text-align:center;
  display:inline-block;
  text-transform:none;
  margin-left:10px;
  top:-4px;
  position:relative;
}
.flashy-message a {
  background:url('v2/flashcross.png') 0 no-repeat;
  display:block;
  width:12px; height:12px;
  font-size:0; text-indent:-1000000px;
  position:absolute;
  right:7px;
  top:8px;
  padding:0;
  margin:0;
}
.flashy-message a:hover {
  background-position:0 0;
}
