<% title("User Activity") %>

<table id="the_table">
  <thead>
    <tr>
      <% @columns.each do |column| %>
        <th><%= column %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<% content_for(:scripts) do %>
  <script type="text/javascript">
    searchTerm = null;
    searchHandler = null;
  
    $(function() {
      oTable = $('#the_table').dataTable( {
          "iDisplayLength": 100,
          "aLengthMenu": [ 10, 100, 1000, 10000 ],
          "bJQueryUI": true,
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "#{url_for()}",
          "bSortClasses": false,
          "aaSorting": [[0, 'desc']],
          "aoColumns": [
            null,
            null,
            null,
            null,
            { "bSortable": false },
            { "bVisible": false },
          ],
          "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            setTimeout(function() {
              $(nRow).addClass(aData[5]);
            }, iDisplayIndexFull);
            return nRow;
          }         
        } );
    
      $("#the_table_filter input").unbind("keyup");
      $("#the_table_filter input").keyup(function(event) {
        if (searchHandler != null) {
          clearTimeout(searchHandler);
        }
        searchHandler = setTimeout(function() { oTable.fnFilter(searchTerm); searchTerm = null }, 1000);
        searchTerm = $(this).val();
      });
    });
  </script>
<% end %>
