<div class="body-wrapper">
  <div class="box-wrapper">
    <ul class="top-links">
      <li class="first">
        <a href="#" class="step-bttn wizard"><img>Lanzar Tutorial Paso a Paso</a>
      </li>
    </ul>
    <div class="date-controller">
      <ul>
        <li>
          <a href="#" class="back first">primero</a>
        </li>
        <li>
          <a href="#" class="prev">previo</a>
        </li>
        <li class="current-week"><%= startDate.toString("MMM d") %> - <%= endDate.toString("MMM d") %></li>
        <li>
          <a href="#" class="next">siguiente</a>
        </li>
        <li>
          <a href="#" class="forwd last">último</a>
        </li>
      </ul>
    </div>
    <div class="post-it-notes">
      <ul class="top-links">
        <li class="first"><a href="#" class="settings canvas">Cambiar Canvas</a></li>
      </ul>     
      <a class="yellow" href="#"><img alt="" border="0"></a> 
      <a class="red" href="#"><img alt="" border="0"></a> 
      <a class="blue" href="#"><img alt="" border="0"></a> 
      <a class="green" href="#"><img alt="" border="0"></a> 
      <a class="purple" href="#"><img alt="" border="0"></a> 
      <img alt="" border="0" class="ques" data-title-placement="left" title="Use different colors<br/>for each customer type<br/>you are addressing"/>
    </div>
    <div class="box-area-wrapper">
      <div class="box-area">
        <div class="topbox-area">
          <div id="key_partners" class="topbox canvas-item-container">      
            <span class="number" title="Step 8">8</span>    
          </div>
          <div class="topbox0">
            <div id="key_activities" class="topbox-top canvas-item-container">
              <span class="number" title="Step 7">7</span>
            </div>
            <div id="key_resources" class="topbox-bottom canvas-item-container">
              <span class="number" title="Step 6">6</span>
            </div>
          </div>
          <div id="value_propositions" class="topbox canvas-item-container">
            <span class="number" title="Step 2">2</span>
          </div>
          <div class="topbox0">
            <div id="customer_relationships" class="topbox-top canvas-item-container">
              <span class="number" title="Step 4">4</span>
            </div>
            <div id="channels"class="topbox-bottom canvas-item-container">
              <span class="number" title="Step 3">3</span>
            </div>
          </div>
          <div id="customer_segments"class="topbox1 canvas-item-container">
            <span class="number" title="Step 1">1</span>
          </div>
        </div>
        <div class="box-bottom">
          <div id="cost_structure" class="box-bottom-left canvas-item-container">
            <span class="number">9</span>
          </div>
          <div id="revenue_stream"class="box-bottom-right canvas-item-container">
            <span class="number">5</span>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="footer-left">
    </div>
    <div class="footer-right">
      <a href="#" class="jpg">JPG</a>&nbsp;&nbsp;<a href="#" class="pdf">PDF</a>
    </div>
  </div>
</div>
