<div class="step step0">
  <h1>Bienvenido a Spartans Online Academy</h1>
  <form class="form-stacked">
    <fieldset>
      <legend>Empecemos a crear tu primer proyecto de emprenidmiento.</legend>
      <br class="spacer"/>
      <div class="clearfix">
        <label for="name">Nombre del Proyecto</label>
        <div class="input">
          <input id="name" name="name" type="text" value="<%= project.get('name') %>"/>
        </div>
      </div>
      <div class="clearfix">
        <label for="name">Pitch de Elevador</label>
        <div class="input">
          <textarea id="pitch" name="pitch" data-maxsize="140" data-output="pitch-length"><%= project.get('pitch') %></textarea>
          <span class="help-block">
            ¿Cómo describes tu negocio en un tweet o menos?
            <span class="length">
              <span class="help-inline" id="pitch-length"></span><span class="help-inline">/ 140 caracteres</span>
            </span>
          </span>
        </div>
      </div>
      <div class="examples">
        <label>Ejemplo:</label>
        <ul>
          <li>&ldquo;AirBnB para mascotas&rdquo;</li>
          <li>&ldquo;Uber de comida siempre lista&rdquo;</li>
          <li>&ldquo;Financiamiento para startups por crowdfunding&rdquo;</li>
          <li>&ldquo;Aplicaciones educativas para niños&rdquo;</li>
        </ul>
      </div>
      <div class="actions">
        <div class="next">
          <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step2">
  <h1>
    Segmentos de Clientes y Primeros Consumidores
      <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>¿Qué personas tienen el problema que estás tratando de resolver?</legend>
      <br class="spacer"/>
      <div class="tip">TIP: Elige los 3 tipos de clientes más importantes</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejemplos:</label>
        <ul>
          <li>Ejecutivos; Clase alta; Personas amantes de la tecnología (UBER)</li>
          <li>Personas que necesitan una página web (WIX)</li>
          <li>Personas que gustan de conocer lo “especial” de nuevas ciudades (AirBnB)</li>
        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
          <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step3">
  <h1>
    Propuesta Única de Valor
      <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>Mensaje convincente, único y claro que indica por qué eres diferente y vale la pena comprar</legend>
      <br class="spacer"/>
      <div class="tip">TIP: Piensa en 1-2 PUV a validar</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejempos:</label>
        <ul>
          <li>Tu viaje a sólo un clic. Transporte en minutos. (UBER)</li>
          <li>Rendimiento y diseño al borde de lo imposible (Mac)</li>
          <li>Nuestra casa es tu casa. (AirBnB)</li>
          <li>Obtén la mejor ruta, todos los días, con la ayuda en tiempo real de otros conductores. (Waze)</li>
        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
          <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step5">
  <h1>
    Canales
      <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>¿Cómo comunicas la Propuesta Única de Valor a tus Clientes?</legend>
      <br class="spacer"/>
      <div class="tip">TIP: Piensa en la mayor cantidad de canales, recuerda que solo son hipótesis</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejemplos:</label>
        <ul>
          <li>Remarketing; Blogs; Redes Sociales (AirBnB)</li>
          <li>Conferencias; Mailing (Mac)</li>
          <li>Aplicación móvil (UBER)</li>
        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
          <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step9">
  <h1>   
    Ventaja Competitiva
      <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>Es una ventaja competitiva real si es algo que vale la pena copiar pero dificilmente lo será</legend>
      <br class="spacer"/>
      <div class="tip">TIP: Esta es complicada pero trata de pensar: si te robaran tu idea ¿Aún tienes negocio?</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejemplo:</label>
        <ul>
          <li>Excelente experiencia de usuario (Mac)</li>
            <li>Inventario nulo de vehículos (UBER)</li>
            <li>Inventario nulo de propiedades; Experiencia del cliente única (AirBnB)</li>
        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
            <button class="btn large primary">Continuar con los experimentos</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step6">
  <h1>
    Flujos de Ingreso
      <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>¿Cómo generas dinero?</legend>
      <br class="spacer"/>
      <div class="tip">TIP: La mayoría de los proyectos tienen 1 o 2 flujos de ingreso</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejemlos:</label>
        <ul>
          <li>Comisiones por renta (AirBnB)</li>
            <li>Venta de productos, servicios complementarios como Apple Music (Mac)</li>
            <li>Porcentaje del precio de cada viaje (UBER)</li>
        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
          <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step8">
  <h1>
    Métricas Clave
      <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>Busca los número clave que te digan cómo está funcionando tu negocio en tiempo real, antes de obtener informes de ventas</legend>
      <br class="spacer"/>
      <div class="tip">TIP: Adquisición, Activación, Retención, Referencia y Retorno son métricas clave usadas para aplicaciones web pero aplican para otro tipo de negocios</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejemplos:</label>
        <ul>
          <li>Viajes al mes; Adquisición de nuevos usuarios; Recomendaciones(UBER)</li>
          <li>Reservaciones al mes; Recomendaciones; Nuevas propiedades; (AirBnB)</li>
          <li>Nuevos usuarios; No. de usuarios que subieron de nivel (WIX)</li>

        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
          <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step4">
  <h1>    
    Solución
      <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>Como todo lo que tienes hasta el momento son hipotesis, no recomiendo extralimitarse en definir una solución en este momento, seguramente cambiará.</legend>
      <br class="spacer"/>
      <div class="tip">TIP: Crea una solución hipotetica para cada problema.</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejemplos:</label>
        <ul>
          <li>Catálogo web de propiedades(AirBnB)</li>
          <li>Aplicación de GPS con CrowSourcing (Waze)</li>
          <li>Aplicación para pedir transporte de lujo (UBER)</li>
        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
          <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step1">
  <h1> 
    Problemas
    <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>Problemas por resolver para el segmento de clientes</legend>
      <br class="spacer"/>
      <div class="tip">TIP: describe los 1-3 principales problemas que se necesitan resolver para cada segmento de clientes</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejemplos:</label>
        <ul>
          <li>Las personas no saben programar y los que encuentran son muy caros (WIX)</li>
          <li>Es imposible vivir una nueva ciudad como un nativo de ésta (AirBnB)</li>
          <li>El transporte público es inseguro, viejo, caro y con mal servicio (UBER)</li>
        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
          <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="step step7">
  <h1>
    Estructura de Costos
      <ol><li title="Problema">1</li><li title="Segmentos de Clientes">2</li><li title="Propuesta Única de Valor">3</li><li title="Solución">4</li><li title="Canales">5</li><li title="Flujos de Ingreso">6</li><li title="Estructura de Costos">7</li><li title="Métricas Clave">8</li><li title="Ventaja Competitiva">9</li></ol>
  </h1>
  <form class="form-stacked">
    <fieldset>
      <legend>Los costos que te generará entregar la solución a tus clientes.</legend>
      <br class="spacer"/>
      <div class="tip">TIP: Solo enlista los más significativos.</div>
      <br class="spacer"/>
      <div class="clearfix">
      </div>
      <div class="examples">
        <label>Ejemplos:</label>
        <ul>
          <li>Marketing, sueldos (AirBnB)</li>
          <li>Sueldos, Mantenimiento, Servidores (UBER)</li>
        </ul>
      </div>
      <div class="actions">
        <div class="prev">
          <button class="btn large">Regresar</button>
        </div>
        <div class="next">
            <button class="btn large">Siguiente</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>