<div class="payinfo">
  <label>Número de Tarjeta de Crédito</label>
  <input name="" type="text" class="ccn">
</div>
<div class="payinfoR">
  <label>CVC <a href="#"><img class="question" alt="" border="0"></a></label> 
  <input name="" type="text" class="ccv">
</div>
<br class="spacer">
<label>Fecha de expiración</label>
<select name="" class="mns">
  <option>
    mes
  </option>
  <option value="1">1 - jan</option>
  <option value="2">2 - feb</option>
  <option value="3">3 - mar</option>
  <option value="4">4 - apr</option>
  <option value="5">5 - may</option>
  <option value="6">6 - jun</option>
  <option value="7">7 - jul</option>
  <option value="8">8 - aug</option>
  <option value="9">9 - sep</option>
  <option value="10">10 - oct</option>
  <option value="11">11 - nov</option>
  <option value="12">12 - dec</option>
</select> 
<select name="" class="yrs">
  <option>
    año
  </option>
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  <option value="2022">2022</option>
    <option value="2022">2023</option>
    <option value="2022">2024</option>
    <option value="2022">2025</option>

</select>
<p>
  <img class="cards"/>
</p>
<button class="btn signup-bttn save">Guardar</button>
<small><img class="secure"/> Pagos seguros con Stripe.com</small>
