<h1>
  ¿Necesitas ayuda?
</h1>
<p class="link">
  You can also email us at <a href="mailto:contacto@spartans.academy">contacto@spartans.academy</a>
</p><br class="spacer">
<div class="body-wrapper">
  <div class="info-bar">
    <img alt="" class="videoIcon">VIDEOS
  </div>
  <div class="box-wrapper">
    <div class="video">
      <img src="<%= videos[0][0] %>" alt=""> <a href="<%= videos[0][1] %>" class="play intro">Play</a>
      <p>
        Intro to LeanLaunchLab
      </p>
    </div>
    <div class="video">
      <img src="<%= videos[1][0] %>" alt=""> <a href="<%= videos[1][1] %>" class="play">Play</a>
      <p>
        Intro to the Canvas
      </p>
    </div>
    <div class="video last">
      <img src="<%= videos[2][0] %>" alt=""> <a href="<%= videos[2][1] %>" class="play">Play</a>
      <p>
        Intro to the Plan
      </p>
    </div>
    <div class="video bottom">
      <img src="<%= videos[3][0] %>" alt=""> <a href="<%= videos[3][1] %>" class="play">Play</a>
      <p>
        Intro to the Journal
      </p>
    </div>
    <div class="video bottom">
      <img src="<%= videos[4][0] %>" alt=""> <a href="<%= videos[4][1] %>" class="play">Play</a>
      <p>
        Intro to the Dashboard
      </p>
    </div>
    <div class="video last bottom">
      <img src="<%= videos[5][0] %>" alt=""> <a href="<%= videos[5][1] %>" class="play">Play</a>
      <p>
        Adding Members to a Project
      </p>
    </div>
  </div>
  <div class="info-bar">
    <img class="faq" alt="">FAQs
  </div>
  <div class="box-wrapper">
    <a name="top"/>
    <ul class="faqs">
      <li>
        <h4>
          General
        </h4>
      </li>
      <li>
        <a href="#">What is LeanLaunchLab?</a>
      </li>
      <li>
        <a href="#">Who uses LeanLaunchLab?</a>
      </li>
      <li>
        <a href="#">How do I submit feature requests or get help?</a>
      </li>
      <li>
        <a href="#">How do I change my email?</a>
      </li>
      <li>
        <a href="#">How do I change my password?</a>
      </li>
      <li>
        <a href="#">Which browsers can I use?</a>
      </li>
    </ul>
    <ul class="faqs">
      <li>
        <h4>
          Privacy
        </h4>
      </li>
      <li>
        <a href="#">Is my data safe?</a>
      </li>
      <li>
        <a href="#">Who can see my email address?</a>
      </li>
      <li>
        <a href="#">Who has access to my project?</a>
      </li>
      <li>
        <a href="#">Is my data backed up?</a>
      </li>
      <li>
        <a href="#">How do I export the data in my project?</a>
      </li>
    </ul>
    <ul class="faqs last">
      <li>
        <h4>
          Projects
        </h4>
      </li>
      <li>
        <a href="#">What is a project?</a>
      </li>
      <li>
        <a href="#">How do I create a new project?</a>
      </li>
      <li>
        <a href="#">How do I edit project settings?</a>
      </li>
      <li>
        <a href="#">How do I leave a project?</a>
      </li>
      <li>
        <a href="#">How do I delete a project?</a>
      </li>
      <li>
        <a href="#">How do I switch projects?</a>
      </li>
      <li>
        <a href="#">What is a Project Owner?</a>
      </li>
    </ul><br class="spacer">
    <ul class="faqs">
      <li>
        <h4>
          Members
        </h4>
      </li>
      <li>
        <a href="">How do I add a member to my project?</a>
      </li>
      <li>
        <a href="">Within a project, what are the differences between the permissions Project Owner, Normal, and Viewer?</a>
      </li>
      <li>
        <a href="">Within a project, what are the differences between the roles Manager and Contributor?</a>
      </li>
      <li>
        <a href="">How do I remove myself from a project?</a>
      </li>
    </ul>
    <ul class="faqs">
      <li>
        <h4>
          Canvas
        </h4>
      </li>
      <li>
        <a href="#">What is the business model canvas?</a>
      </li>
      <li>
        <a href="#">Can I change the box headers within the canvas?</a>
      </li>
      <li>
        <a href="#">When should I use different color post-it notes on the canvas?</a>
      </li>
      <li>
        <a href="#">How do I link items on my canvas to items in the Plan?</a>
      </li>
      <li>
        <a href="#">Why do some of my canvas items have red text?</a>
      </li>
      <li>
        <a href="#">How do I change the color of an existing post-it note on my canvas?</a>
      </li>
    </ul>
    <ul class="faqs last">
      <li>
        <h4>
          The Plan
        </h4>
      </li>
      <li>
        <a href="#">What is the Plan?</a>
      </li>
      <li>
        <a href="#">What are hypotheses, experiments, and tasks?</a>
      </li>
      <li>
        <a href="#">How much detail should I capture in each hypothesis, experiment, and task?</a>
      </li>
      <li>
        <a href="#">Are email notifications sent to members of a project whenever a new hypothesis, experiment, or task is created?</a>
      </li>
      <li>
        <a href="#">How do I write a good hypothesis?</a>
      </li>
      <li>
        <a href="#">How do I test a hypothesis?</a>
      </li>
    </ul><br class="spacer">
    <ul class="faqs">
      <li>
        <h4>
          The Journal
        </h4>
      </li>
      <li>
        <a href="">What is the Journal?</a>
      </li>
      <li>
        <a href="">What’s the difference between an interview and an update?</a>
      </li>
      <li>
        <a href="">How often should I create updates?</a>
      </li>
      <li>
        <a href="">What questions should I ask during a customer interview?</a>
      </li>
    </ul>
    <ul class="faqs">
      <li>
        <h4>
          Email Notifications
        </h4>
      </li>
      <li>
        <a href="#">Who gets an email when I create a new item in the Plan or Journal?</a>
      </li>
      <li>
        <a href="#">Are email notifications sent when a comment is left?</a>
      </li>
      <li>
        <a href="#">Can I reply directly to email notifications?</a>
      </li>
      <li>
        <a href="#">How do I edit my email preferences?</a>
      </li>
    </ul>
    <ul class="faqs last">
      <li>
        <h4>
          Miscellaneous
        </h4>
      </li>
      <li>
        <a href="#">Do you allow file attachments?</a>
      </li>
      <li>
        <a href="#">Does LeanLaunchLab integrate with other project management or CRM tools?</a>
      </li>
    </ul><br class="spacer">
    <div class="answer-box">
      <h4>
        General
      </h4>
      <p>
        <strong><a name="#"/>What is LeanLaunchLab?</strong> LeanLaunchLab helps teams launch new ventures by managing lean startup and customer development activities. With LeanLaunchLab you can define and track your business model hypotheses, track experiments, store customer interviews, and get feedback from investors, advisors, and managers.
      </p>
      <p>
        <strong><a name="#"/>Who uses LeanLaunchLab?</strong> LeanLaunchLab is used by startups, universities, accelerates/incubators, non-profits, large corporations, and anyone else seeking to launch a new venture.
      </p>
      <p>
        <strong><a name="#"/>How do I submit feature requests or get help?</strong> The easiest way to submit a feature request is through the User Voice Feedback tab on the left side of the page. You can also contact us at any time at <a href="mailto:support@leanlaunchlab.com">support@leanlaunchlab.com</a>.
      </p>
      <p>
        <strong><a name="#"/>How do I change my email?</strong> To change your email address, click on the Settings link in the header and edit your email address under the Basic Info section.
      </p>
      <p>
        <strong><a name="#"/>How do I change my password?</strong> To change your password, click on the Settings link in the header and enter your current and new password under the Change Password section.
      </p>
      <p>
        <strong><a name="#"/>Which browsers can I use?</strong> LeanLaunchLab works best in the following modern browsers: Firefox 6+, Safari 4+, Chrome 14+, and IE 8+.
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
    <div class="answer-box">
      <h4>
        Privacy
      </h4>
      <p>
        <strong><a name="#"/>Is my data safe?</strong> We understand that your LeanLaunchLab projects may contain sensitive information so we take every precaution that we can to ensure the safety of your data.<br>
        - You control who has access to your projects from the Members tab. Its simple to add and remove members and to change each member’s level of access.<br>
        - All page requests use SSL encryption by default.<br>
        - We run daily backups on all of your data.
      </p>
      <p>
        <strong><a name="#"/>Who can see my email address?</strong> All members of your project and organization can see your email address.
      </p>
      <p>
        <strong><a name="#"/>Who has access to my project?</strong> You can see who has access to a project by clicking on the Projects link in the header and then clicking on the Members tab.
      </p>
      <p>
        <strong><a name="#"/>Is my data backed up?</strong> Yes, we run daily backups on all production data.
      </p>
      <p>
        <strong><a name="#"/>How do I export the data in my project?</strong> Export functionality is coming soon.
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
    <div class="answer-box">
      <h4>
        Projects
      </h4>
      <p>
        <strong><a name="#"/>What is a project?</strong> A project can be anything that you and your team wants to track over a long period of time. Startups and other small companies will typically have only one project. Larger organizations may have multiple projects, one per new product or service they are launching. Universities may have one project per team or class group.
      </p>
      <p>
        <strong><a name="#"/>How do I create a new project?</strong> To create a project, click on the Projects link in the header. If you haven’t created any projects yet, you will see a ‘Create Project’ link in the upper left. If you have at least one project, you can create a new one by clicking on the project dropdown menu in the upper left and selecting ‘New Project’. NOTE: You may not see the ‘New Project’ link if you don’t have adequate permissions or if your current plan has reached its number of projects limit.
      </p>
      <p>
        <strong><a name="#"/>How do I edit project settings?</strong> Only Project Owners can edit project settings. If you are a Project Owner you will see a tab called ‘Project Settings’ on the project page.
      </p>
      <p>
        <strong><a name="#"/>How do I leave a project?</strong> To leave a project, click on the Members tab, then click the ‘remove’ link next to your name.
      </p>
      <p>
        <strong><a name="#"/>How do I delete a project?</strong> To delete a project, click on the Orgs link in the header and then click on the Summary tab.  Click on the "delete" button next to the project you wish to delete.
      </p>
      <p>
        <strong><a name="#"/>How do I switch projects?</strong> Make sure you are on the Project page by clicking on the ‘Projects’ link in the header. In the upper left of the page you should see the name of the currently selected project in large text followed by a down arrow icon. This is the project dropdown menu. Click on it to switch to a different project.
      </p>
      <p>
        <strong><a name="#"/>What is a Project Owner?</strong>Each project has at least one Project Owner. Project Owners can edit project settings and add/remove members.
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
    <div class="answer-box">
      <h4>
        Members
      </h4>
      <p>
        <strong><a name="#"/>How do I add a member to my project?</strong> To add a member to your project, select the Projects link in the header, then click on the Members tab. To add members one at a time, use the form at the top of the page. You can also bulk import multiple members by clicking the ‘import a list’ link. This allows you to copy/paste multiple records from Excel.
      </p>
      <p>
        <strong><a name="#"/>Within a project, what are the differences between the permissions Project Owner, Normal, and Viewer?</strong> A Project Owner can add/remove members and edit project settings. Normal members cannot add/remove members but they can create content such as hypotheses, experiments, tasks, interviews, and updates. Viewers have read-only access.
      </p>
      <p>
        <strong><a name="#"/>Within a project, what are the differences between the roles Manager and Contributor</strong> When you add a member to your project you should specify their role. This helps you and the other members of your project gain context for who is who since in many cases not everyone will know each other.
      </p>
      <p>
        <strong><a name="#"/>How do I remove myself from a project?</strong> To remove yourself from a project, click on the Members tab and then click on the ‘remove’ link next to your name. Projects must have at least one Project Owner, so if you are the only Project Owner you will have to assign another member as the Owner before you can remove yourself.
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
    <div class="answer-box">
      <h4>
        Canvas
      </h4>
      <p>
        <strong><a name="#"/>What is the business model canvas?</strong> The business model canvas is a simple, yet powerful 9-box diagram that captures all aspects of your business model. The canvas is widely becoming a standard amongst enterprises and startups alike in business model innovation. It was created by the folks at <a href="http://www.businessmodelgeneration.com">Business Model Generation</a>, Alexander Osterwalder and Yves Pigneur.
      </p>
      <p>
        <strong><a name="#"/>Can I change the box headers within the canvas?</strong> The default headers use the original names as defined by the Business Model Generation folks. Many people have asked for the ability to change the names of the boxes to the ones used by Ash Maurya’s leancanvas.com. To change the headers, click on the Settings icon from the Canvas tab and select the ‘Startup’ radio button under Canvas Version.
      </p>
      <p>
        <strong><a name="#"/>When should I use different color post-it notes on the canvas?</strong> You should use different color post-it notes to capture <a href="http://en.wikipedia.org/wiki/Two-sided_market">multi-sided markets</a>.
      </p>
      <p>
        <strong><a name="#"/>How do I link items on my canvas to items in the Plan?</strong> When you create a new canvas item, you will see a checkbox at the bottom of the form called ‘Include in Plan’. Checking that box will create a hypothesis in the Plan. You can also modify the canvas settings to always include canvas items in the Plan.
      </p>
      <p>
        <strong><a name="#"/>Why do some of my canvas items have red text?</strong> Items appear with red text if they were created this week. This is useful to see what changes occurred since the previous week. To disable the red text, click on the settings icon from the Canvas tab and uncheck the box labeled ‘Highlight new canvas items with red text’.
      </p>
      <p>
        <strong><a name="#"/>How do I change the color of an existing post-it note on my canvas?</strong> To change the color of a post-it note, click on the post-it note to edit it. Then click on one of the small post-it icons under the ‘Color’ section.
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
    <div class="answer-box">
      <h4>
        The Plan
      </h4>
      <p>
        <strong><a name="#"/>What is the Plan?</strong> One of the most important activities for early stage teams building new products is to find product-market fit. The Plan is where you can map out and define hypotheses, experiments, and tasks and track your progress towards achieving product-market fit.
      </p>
      <p>
        <strong><a name="#"/>What are hypotheses, experiments, and tasks?</strong> The Plan supports three types of items: hypotheses, experiments, and tasks. Hypotheses are essentially guesses or assumptions about your business model that you want to test. Experiments are controlled and measured tests between your users and your application. Experiments should be performed to validate or invalidate a hypothesis in your Plan. Tasks are small units of work that you need to accomplish to support an experiment or hypothesis.
      </p>
      <p>
        <strong><a name="#"/>How much detail should I capture in each hypothesis, experiment, and task?</strong> Generally speaking, the more detail you capture, the better. This is especially important for Experiments since there is typically setup required and clear definition of what you are measuring to determine success or failure.
      </p>
      <p>
        <strong><a name="#"/>Are email notifications sent to members of a project whenever a new hypothesis, experiment, or task is created?</strong> Yes, email notifications are sent whenever you create a new hypothesis, experiment, or task within the Plan. Emails are also sent when a comment is posted and when a hypothesis, experiment, or task is completed or validated/invalidated.
      </p>
      <p>
        <strong><a name="#"/>How do I write a good hypothesis?</strong> A good hypothesis should be defined in a way that it is testable and can be proven or dis-proven. Avoid “leap-of-faith” hypotheses like <i>“Startups need a tool to manage lean startup activities”</i>. A better hypothesis is <i>“I believe startups using LeanLaunchLab will come back at least once per week because our tools make it easier to define and test business model hypotheses.”</i> Here’s a great blog post by Ben Yoskovitz on how to write a good hypothesis: <a href="http://www.instigatorblog.com/good-hypotheses/2011/05/05/">http://www.instigatorblog.com/good-hypotheses/2011/05/05/</a>.
      </p>
      <p>
        <strong><a name="#"/>How do I test a hypothesis?</strong> Once you’ve structured your hypothesis in a way that is clear and testable, it’s time to define an experiment that can either validate or invalidate your hypothesis statement. Click on the ‘New Experiment’ button to create a new experiment. Give it a title and describe your experiment in the description field. We recommend that you capture as much detail as necessary to explain what you are testing, how, and what metrics you are measuring.
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
    <div class="answer-box">
      <h4>
        The Journal
      </h4>
      <p>
        <strong><a name="#"/>What is the Journal?</strong> The Journal is where you compose team updates and store customer interviews. We recommend composing at least one update per week to keep everyone in the loop.
      </p>
      <p>
        <strong><a name="#"/>What’s the difference between an interview and an update?</strong> Use Interviews to store feedback from specific customers. Use Updates to update your team on what you have done, what you learned, and what the plan is moving forward.
      </p>
      <p>
        <strong><a name="#"/>How often should I create updates?</strong> We recommend creating updates at least once per week.
      </p>
      <p>
        <strong><a name="#"/>What questions should I ask during a customer interview?</strong> During customer interviews you should be asking them the following questions:<br>
        - How are they currently addressing this problem?<br>
        - What do they like about the current solution? What don’t they like?<br>
        - What do they wish they could do that isn’t possible today? How would that make their lives easier?<br>
        - Who is involved in the current solution or process? How long does it take?<br>
        - How much money are they willing to invest in a solution to this problem?<br>
        For more on customer interviews, read Chapter 3 (Customer Discovery) of “The Four Steps to the Epiphany” by Steve Blank. And here's a great blog post on customer interviews by Cindy Alvarez: <a href="http://www.cindyalvarez.com/communication/customer-development-interviews-how-to-what-you-should-be-learning">http://www.cindyalvarez.com/communication/customer-development-interviews-how-to-what-you-should-be-learning</a>
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
    <div class="answer-box">
      <h4>
        Email Notifications
      </h4>
      <p>
        <strong><a name="#"/>Who gets an email when I create a new item in the Plan or Journal?</strong> All members of your project are eligible to receive an email notification whenever a new item is created in the Plan or Journal. Emails are also sent when a comment is left or when a hypothesis or experiment is validated/invalidated or completed. However, all members have the ability to control which types of emails they receive so they may not receive notifications for all events.
      </p>
      <p>
        <strong><a name="#"/>Are email notifications sent when a comment is left?</strong> Yes, email notifications are sent when a comment is posted. However, if a member of your project turned off emails for hypotheses, they will not receive new comment email notifications for hypotheses.
      </p>
      <p>
        <strong><a name="#"/>Can I reply directly to email notifications?</strong> Yes, you can respond directly to an email notification and we will parse it and store your response as a comment.
      </p>
      <p>
        <strong><a name="#"/>How do I edit my email preferences?</strong> To edit your email preferences, click on the Settings link in the header and then click on the Email Preferences tab.
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
    <div class="answer-box">
      <h4>
        Miscellaneous
      </h4>
      <p>
        <strong><a name="#"/>Do you allow file attachments?</strong> Yes, you can upload attachments to hypotheses, experiments, tasks, interviews, and updates. The file size limit is 50mb.
      </p>
      <p>
        <strong><a name="#"/>Does LeanLaunchLab integrate with other project management or CRM tools?</strong> Currently, no. But we have plans to integrate with leading CRM's and project management solutions in the future.
      </p>
    </div>
    <p class="top">
      <a href="#top"><img class="top" alt="" border="0"></a>
    </p>
  </div>
</div>
