<p class="hypothesis-title">
  <span class="cal">
    <% if (hypothesis.get("status") == "") { %>
      Creado<br>
      el <%= hypothesis.get("created_at").toString("MMM d, yyyy") %>
    <% } else if (hypothesis.get("status") == "started") { %>
      Inicio de Prueba<br>
      el <%= hypothesis.get("completed_at").toString("MMM d, yyyy") %>
    <% } else if (hypothesis.get("status") == "valid") { %>
      Validado<br/>
      el <%= hypothesis.get("completed_at").toString("MMM d, yyyy") %>
    <% } else if (hypothesis.get("status") == "invalid") { %>
      Invalidado<br/>
      el <%= hypothesis.get("completed_at").toString("MMM d, yyyy") %>
    <% } else if (hypothesis.get("status") == "unknown") { %>
      Desconocido<br/>
      el <%= hypothesis.get("completed_at").toString("MMM d, yyyy") %>
    <% } %> 
  </span>
  <a href="#">
    <% if (is_new) { %>
      <span class="new">Nuevo</span>
    <% } %>
    <% if (hypothesis.get("canvas_box")) { %>
      <span><%= hypothesis.get("canvas_box") %> Hipotesis</span>
    <% } %>
    <%= hypothesis.get("title") %>
  </a>
</p>

<p class="details">
  en
  <a href="<%= hypothesis.project().get('plan_url') %>"><%= hypothesis.project().get("name") %></a>
  <% if (hypothesis.member()) { %>
    (<%= hypothesis.member().user().get("name") %>)
  <% } %>
</p>

<% if (hypothesis.get("description")) { %>
  <div class="description"><%- hypothesis.get("description") %></div>
<% } %>

<% if (hypothesis.experiments.length > 0) { %>
  <h4 class="expriment">
    Experimentos
  </h4>
  <div class="pad20">
    <p>
      <% hypothesis.experiments.each(function(experiment, index) { %>
        <%= index+1 %>. <%= experiment.get("title") %><br>
      <% }); %>
    </p>
  </div>
<% } %>

<% if (hypothesis.questions.length > 0) { %>
  <h4 class="key-met">
    Metricas Clave
  </h4>
  <div class="pad20">
    <p>
      <% hypothesis.questions.each(function(question, index) { %>
        <%= index+1 %>. <%= question.get("title") %><br>
      <% }); %>
    </p>
  </div>
<% } %>

<% if (hypothesis.tasks.length > 0) { %>
  <h4 class="task">
    Tareas
  </h4>
  <div class="pad20">
    <p>
      <% hypothesis.tasks.each(function(task, index) { %>
        <%= index+1 %>. <%= task.get("title") %><br>
      <% }); %>
    </p>
  </div>
<% } %>

<h4>Archivos adjuntos</h4>
<div class="attachments"></div>
<div class="upload"></div>

<h4>Comentarios</h4>
<div class="comments"></div>
