<h1>TIP 1: Think about failing.</h1>
<p>
  What are all the ways your business could fail?  List out these reasons and create hypotheses from them.
</p>
<div class="example">
  <h2>Example: Ipod</h2>
  <ul>
    <li>
      <strong>Failure Reason 1:</strong>
      Can't get music deals with OEMs
    </li>
    <li>
      <strong>Failure Reason 2:</strong>
      Can't design up to Apple standards
    </li>
    <li>  
      <strong>Failure Reason 3:</strong>
      Can't fit 1000 songs in one device
    </li>
  </ul>  
  <h3>Create hypotheses for each one:</h3>
  <ul>
    <li>
      <strong>Hypothesis 1:</strong>
      Music OEMs will license their collections to us
    </li>
    <li>
      <strong>Hypothesis 2:</strong>
      We are able to innovate on music player hardware designs
    </li>
    <li>
      <strong>Hypothesis 3:</strong>
      Technology exists for high-storage at low cost
    </li>
  </ul>
</div>
<em>Credit: http://davidkullmann.com/2012/01/14/how-to-find-your-lean-startup-hypothesis/</em>

<h1>TIP 2: Create a Problem/Solution Hypothesis.</h1>
<p>
  Your customers have problem X.  What's your proposed solution and how will you validate it short of actually building it?  Try structuring your hypothesis like this:
</p>
<p>
  [SOLUTION] will solve/help [CUSTOMER PROBLEM]<br/>
  [SOLUTION] will increase/decrease [METRIC]
</p>
<div class="example">
  <h2>Examples:</h2>
  <ul>
    <li>Online chat widget solves customer support problem</li>
    <li>Adding social features will increase user engagement by 20%</li>
    <li>Sending reminder emails will increase retention by 50%</li>
  </ul>
</div>

<h1>TIP 3: Start your hypothesis with "I believe"</h1>
<div class="example">
  <h2>Examples:</h2>
  <ul>
    <li>I believe fitness enthusiasts will share their workouts on facebook and twitter twice per week</li>
    <li>I believe online shoppers are heavily influenced by social recommendations</li>
    <li>I believe feature X will drive conversions up 5%</li>
  </ul>
</div>
<em>Credit: http://www.instigatorblog.com/good-hypotheses/2011/05/05/</em>
