<h1>TIP 1: Piensa en Hipotesis Falseables.</h1>
<p>
  ¿Qué son las cosas que pueden ahcer fallar tu proyecto?  Haz lluvia de ideas y crea una hipotesis basado en esto.
</p>
<div class="example">
  <h2>Ejemplo: Ipod</h2>
  <ul>
    <li>
      <strong>Razón por la qué podría fallar 1:</strong>
      No poder llegar a un trato con disqueras
    </li>
    <li>
      <strong>Razón por la qué podría fallar 2:</strong>
      No poderlo diseñar a los estandares de la marca
    </li>
    <li>  
      <strong>Razón por la qué podría fallar 3:</strong>
      No poder meter 1000 canciones en un solo aparato
    </li>
  </ul>  
  <h3>Crea una Hipotesis para cada una:</h3>
  <ul>
    <li>
      <strong>Hipothesis 1:</strong>
      Las disqueras nos darán un contrato para distribuir su música
    </li>
    <li>
      <strong>Hipothesis 2:</strong>
      Somos capaces de innovar en el diseño de los reproductores de música
    </li>
    <li>
      <strong>Hipothesis 3:</strong>
      La tecnología existe para un almacenamiento a bajo costo
    </li>
  </ul>
</div>
<em>Créditos: http://davidkullmann.com/2012/01/14/how-to-find-your-lean-startup-hypothesis/</em>

<h1>TIP 2: Crea una Hipotesis de Problema/Solución.</h1>
<p>
  Tus clientes tienen un problema X.  ¿Cuál es tu propuesta de solución y como las vas a validar sin construir tu producto? Trata de estructurar una hipotesis así:
</p>
<p>
  [SOLUCIÓN] va a resolver el [PROBLEMA DEL CLIENTE]<br/>
  [SOLUCIÓN] va a aumentar/disminuir [METRICA]
</p>
<div class="example">
  <h2>Ejemplos:</h2>
  <ul>
    <li>Mi plugin de chat Online resuelve los problemas de soporte de los clientes</li>
    <li>Agregar caracteristicas sociales incrementa la interacción por 20%</li>
    <li>Mandar recordatorios por email incrementan la retención por 50%</li>
  </ul>
</div>

<h1>TIP 3: Comienza tu hipotesis con la frase "Yo creo"</h1>
<div class="example">
  <h2>Ejemplos:</h2>
  <ul>
    <li>Yo creo que los entusiastas del ejercicio  van a compartir sus ejercicios en facebook y twitter 2 veces a la semana</li>
    <li>Yo creo que los compradores online están muy influenciadas por las recomendaciones sociales</li>
    <li>Yo creo que la caracteristica X va a aumentar las conversiones en 5%</li>
  </ul>
</div>
<em>Credito: http://www.instigatorblog.com/good-hypotheses/2011/05/05/</em>
