<div class="step-heading">
  <div class="steps assumption">
    <p class="right-text">
      <a href="#" class="how">¿Cómo crear una buena hipotesis?</a>
    </p>
    <br class="spacer">
    <h3>
      <strong>Paso 1:</strong> Introduce una nueva <strong>hipothesis</strong> sobre tu negocio.
    </h3>
    <% var id = _.uniqueId("err"); %>
    <input type="text" name="title" id="title" class="quest" autocomplete="off" data-maxsize="255" data-output="<%= id %>">
    <p class="left-text">
      <span class='help-block'><span id='<%= id %>'></span>/255 caracteres</span>
      Las Hipotheses son suposiciones no validadas que necesitan ser probadas.
      <!-- <a href="#" class="example">Examples</a> -->
    </p>
  </div>
  <div class="expanded">
    <div class="steps experiments">
    </div>
    <div class="steps questions">
    </div>
    <div class="steps tasks">
    </div>
    <div class="steps details">
      <p>
        <strong>Detalles</strong>
      </p>
      <textarea name="description" id="description" class="details" autocomplete="off"></textarea>
    </div>
    <div class="steps attachments">
      <p>
        <strong>Archivos Adjuntos</strong>
      </p>
      <p class="attachment">
        <a href="#">Spreadsheet-12162011.xlsx</a> (453K) <a href="#">quitar</a>
      </p>
      <p class="attachment">
        <button class="btn small browse">SELECCIONAR ARCHIVO</button><span>o arrastra los archivos aquí</span>
      </p>
    </div>
    <div class="tags">
      Add <a href="#" class="open-details">Detalles adicionales</a>
      <!-- or <a href="#" class="open-attachments">Upload a File</a><br> -->
      <br/>
      <button class="btn small save">GUARDAR</button><button class="btn small cancel">CANCELAR</button>
    </div>
  </div>
</div>