<div class="step-heading">
  <div class="steps assumption">
    <p class="right-text">
      <a href="#" class="how">How to create a great hypothesis</a>
    </p>
    <br class="spacer">
    <h3>
      <strong>Step 1:</strong> Enter a new <strong>hypothesis</strong> about your business.
    </h3>
    <% var id = _.uniqueId("err"); %>
    <input type="text" name="title" id="title" class="quest" autocomplete="off" data-maxsize="255" data-output="<%= id %>">
    <p class="left-text">
      <span class='help-block'><span id='<%= id %>'></span>/255 chars</span>
      Hypotheses are unproven assumptions that need to be tested.
      <!-- <a href="#" class="example">Examples</a> -->
    </p>
  </div>
  <div class="expanded">
    <div class="steps experiments">
    </div>
    <div class="steps questions">
    </div>
    <div class="steps tasks">
    </div>
    <div class="steps details">
      <p>
        <strong>Details</strong>
      </p>
      <textarea name="description" id="description" class="details" autocomplete="off"></textarea>
    </div>
    <div class="steps attachments">
      <p>
        <strong>Attachments</strong>
      </p>
      <p class="attachment">
        <a href="#">Spreadsheet-12162011.xlsx</a> (453K) <a href="#">remove</a>
      </p>
      <p class="attachment">
        <button class="btn small browse">BROWSE</button><span>or drag and drop files here</span>
      </p>
    </div>
    <div class="tags">
      Add <a href="#" class="open-details">Additional Details</a>
      <!-- or <a href="#" class="open-attachments">Upload a File</a><br> -->
      <br/>
      <button class="btn small save">DONE</button><button class="btn small cancel">CANCEL</button>
    </div>
  </div>
</div>