<div class="step-heading">
  <div class="steps">
    <h3>
      <strong>Nueva Entrevista de Cliente</strong>
    </h3>
    <div class="intv-examples">
      <input type="text" name="title" id="title" placeholder="Introduce Nombre" autocomplete="off">
      <p class="enter-text">
        ejemplo. John Smith
      </p>
    </div>
    <div class="intv-examples">
      <input type="text" name="text1" id="text1" placeholder="Introduce Compañia" autocomplete="off">
      <p class="enter-text">
        ejemplo. Facebook
      </p>
    </div>
    <div class="intv-examples">
      <input type="text" name="text2" id="text2" placeholder="Introduce Información de contacto" autocomplete="off">
      <p class="enter-text">
        teléfono, email, o ambos
      </p>
    </div>
  </div>
  <div class="expanded">
    <div class="steps">
      <p>
        <strong>Detalles de la Entrevista</strong>
      </p>
      <textarea id="description" title="description" placeholder="Introduce Detalles" autocomplete="off"/>
    </div>
    <div class="steps">
      <p>
        <strong>Fecha de la Entrevista</strong>
      </p>
      <div class="intv-examples">
        <input type="text" name="date" id="date" class="date" placeholder="año-mes-día" autocomplete="off">
      </div>
    </div>
    <!-- <div class="steps">
      <p>
        <strong>Attachments</strong>
      </p>
      <p class="attachment">
        <button class="btn small browse">BROWSE</button><span>or drag and drop files here</span>
      </p>
    </div> -->
    <div class="tags">
      <button class="btn small save">Crear</button><button class="btn small cancel">CANCELAR</button>
    </div>
  </div>
</div>
