<div class="step-heading">
  <div class="steps">
    <h3>
      <strong>New Customer Interview</strong>
    </h3>
    <div class="intv-examples">
      <input type="text" name="title" id="title" placeholder="Enter Name" autocomplete="off">
      <p class="enter-text">
        ex. John Smith
      </p>
    </div>
    <div class="intv-examples">
      <input type="text" name="text1" id="text1" placeholder="Enter Company" autocomplete="off">
      <p class="enter-text">
        ex. Facebook
      </p>
    </div>
    <div class="intv-examples">
      <input type="text" name="text2" id="text2" placeholder="Enter Contact Info" autocomplete="off">
      <p class="enter-text">
        phone, email, or both
      </p>
    </div>
  </div>
  <div class="expanded">
    <div class="steps">
      <p>
        <strong>Interview Details</strong>
      </p>
      <textarea id="description" title="description" placeholder="Enter Details" autocomplete="off"/>
    </div>
    <div class="steps">
      <p>
        <strong>Interview Date</strong>
      </p>
      <div class="intv-examples">
        <input type="text" name="date" id="date" class="date" placeholder="yyyy-mm-dd" autocomplete="off">
      </div>
    </div>
    <!-- <div class="steps">
      <p>
        <strong>Attachments</strong>
      </p>
      <p class="attachment">
        <button class="btn small browse">BROWSE</button><span>or drag and drop files here</span>
      </p>
    </div> -->
    <div class="tags">
      <button class="btn small save">Create</button><button class="btn small cancel">CANCEL</button>
    </div>
  </div>
</div>
