<form class="form">
  <div class="head">
    <div class="member-name clearfix">
      <label for="name">Nombre</label>
    </div>
    <div class="member-email clearfix">
      <label for="email">Email</label>
    </div>
    <div class="member-perm clearfix">
      <label for="level">Permisos <img title="Admin members can add/remove members and edit organization settings."/></label>
    </div>    
  </div>
  <div class="member-name clearfix">
    <input type="text" name="name" id="name" value="<%= member.user.name %>"/>
  </div>
  <div class="member-email clearfix">
    <input type="text" name="email" id="email" value="<%= member.user.email %>">
  </div>
  <div class="member-perm clearfix">
    <select name="level" id="level">
      <option value="">(Seleccionar)</option>
    </select>
  </div>
  <div class="member-bttn">
    <button class="btn add">Agregar</button>
    o, <a class="paste" href="#">importar a lista</a>
  </div>
</form>
