<% if (label) { %>
  <h3>
    <%= label %>
  </h3>
<% } %>
<form action="" method="get">
  <p>
    <label>Nombre</label>
    <input type="text" name="name" id="name" value="<%= question.get('name') %>">
  </p>
  <p>
    <label>Email</label>
    <input type="text" name="email" id="email" value="<%= question.get('email') %>">
  </p>
  <p>
    <label>Compañia</label>
    <input type="text" name="company" id="company" value="<%= question.get('company') %>">
  </p>
  <% if (!compact) { %>
  <p>
    <label>URL</label>
    <input type="text" name="url" id="url" value="<%= question.get('url') %>">
  </p>
  <p>
    <label>Lugar</label>
    <input type="text" name="location" id="location" value="<%= question.get('location') %>">    
  </p>
  <p>
    <label>Industria</label>
    <select name="industry" id="industry">
      <option value="">Selecciona tu Industria</option>
      <option value="Communications & Media">Comunicación &amp; Medios</option>
      <option value="Distribution & Retail">Distribución &amp; Venta al Detalle</option>
      <option value="Energy & Chemicals">Energía &amp; Quimicos</option>
      <option value="Financial Services">Servicios Financieros</option>
      <option value="Healthcare">Cuidado de la salud</option>
      <option value="High Tech Hardware">Alta Tecnología (Hardware)</option>
      <option value="High Tech Software & Service">Alta Tecnología (Software) &amp; Servicio</option>
      <option value="Insurance">Aseguradoras</option>
      <option value="Life Sciences">Ciencias Sociales</option>
      <option value="Manufacturing">Manufactura</option>
      <option value="Nonprofit , Education & Public sector">Sin fines de lucro , Educación &amp; Sector Público</option>
      <option value="Travel & Transportation">Viajes &amp; Transportes</option>
    </select>
  </p>
  <p>
    <label>Fuente de Financiamiento</label>
    <select name="funded" id="funded">
      <option value="">Selecciona tus fuentes de financiamiento</option>
      <option value="Self-funded/Friends & Family">Dinero propio o de familia</option>
      <option value="Angel investment">Angel Inversionista</option>
      <option value="Venture capital - A round">Capital de Riezgo - A</option>
      <option value="Venture capital - B round">Capital de Riezgo - B</option>
      <option value="Venture capital - C round">Capital de Riezgo - C</option>
      <option value="Partner/ Corporate">Alianza Corporativa</option>
      <option value="Private placement">Prestamos de banco</option>
      <option value="Other">Otro</option>
    </select>
  </p>
  <% } %>
  <p>
    <label class="big">Tus Preguntas</label>
    <textarea name="question" id="question">
</textarea>
  </p>
  <p>
    <input type="button" class="bttn save">
  </p>
</form>
