<div class="step-heading">
  <div class="steps">
    <h3>
      <strong>New Journal Update</strong>
    </h3>
    <input type="text" name="title" id="title" placeholder="Enter Title" autocomplete="off">
    <p class="enter-text">
      ex. Our Weekly Update, Lessons Learned, etc.
    </p>
  </div>
  <div class="expanded">
    <div class="steps">
      <p>
        <strong>Details</strong>
      </p>
      <textarea name="description" id="description" placeholder="Enter Details" autocomplete="off"/>  
    </div>
    <div class="steps">
      <p>
        <strong>The Ask</strong>
      </p>
      <input type="text" name="the_ask" id="the_ask" placeholder="What do you need help with?" autocomplete="off">
      <p class="enter-text">
        Action items or questions for your team members.
      </p>
    </div>
    <!-- <div class="steps">
      <p>
        <strong>Attachments</strong>
      </p>
      <p class="attachment">
        <button class="btn small browse">BROWSE</button><span>or drag and drop files here</span>
      </p>
    </div> -->
    <div class="tags">
      <button class="btn small save">Create</button><button class="btn small cancel">CANCEL</button>
    </div>
  </div>
</div>
