<div class="step-heading">
  <div class="steps">
    <h3>
      <strong>Nuevo Aprendizaje</strong>
    </h3>
    <input type="text" name="title" id="title" placeholder="Enter Title" autocomplete="off">
    <p class="enter-text">
      ejemplo. Nurestro aprendizaje semanal, Lecciones aprendidas, etc.
    </p>
  </div>
  <div class="expanded">
    <div class="steps">
      <p>
        <strong>Detalles</strong>
      </p>
      <textarea name="description" id="description" placeholder="Enter Details" autocomplete="off"/>  
    </div>
    <div class="steps">
      <p>
        <strong>La Pregunta</strong>
      </p>
      <input type="text" name="the_ask" id="the_ask" placeholder="What do you need help with?" autocomplete="off">
      <p class="enter-text">
        Acciones futuras para los miembros del equipo.
      </p>
    </div>
    <!-- <div class="steps">
      <p>
        <strong>Attachments</strong>
      </p>
      <p class="attachment">
        <button class="btn small browse">BROWSE</button><span>or drag and drop files here</span>
      </p>
    </div> -->
    <div class="tags">
      <button class="btn small save">Crear</button><button class="btn small cancel">CANCELAR</button>
    </div>
  </div>
</div>
