<h1>
  Ajustes
</h1>
<ul class="toplink">
	<li>
		<a href="/settings/profile">Perfil</a>
	</li>
	<li>
		<a href="/settings/notifications" class="selected">Preferencias de Email</a>
	</li>
</ul>
<br class="spacer" />
<div class="body-wrapper">
  <div class="box-wrapper">
    <h3>
      CONTROLA QUÉ TIPOS DE NOTIFICACIONES RECIBES POR EMAIL
    </h3>
    <div class="white-area">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr class="first-row">
          <td class="first bord-right">
            &nbsp;
          </td>
          <td class="bord-right">
            <span class="first bord-right"><em>Tu Rol</em></span>
          </td>
          <td class="bord-right">
            Nuevas hipotesis
          </td>
          <td class="bord-right">
            Hipoteisis validada
          </td>
          <td class="bord-right">
            Entrevistas
          </td>
          <td class="bord-right">
            Actualizaciones
          </td>
          <td class="bord-right">
            Seguimiento<br>
            Emails
          </td>
          <td class="bord-right">
            Diario<br>
            Resumen
          </td>
          <td class="bord-right">
            Semanal<br>
            Scorecard
          </td>
          <!--
          <td class="tenth">
            <span class="ninth bord-right">Reminders</span>
          </td>
          -->
        </tr>
        <tr class="second-row">
          <td class="bord-right">
            &nbsp;
          </td>
          <td class="bord-right">
            &nbsp;
          </td>
          <td class="bord-right">
            <a href="#" class="all" data-model-attribute="notify_hypotheses">Seleccionar todo</a><br>
            <a href="#" class="none" data-model-attribute="notify_hypotheses">Borrar todo</a>
          </td>
          <td class="bord-right">
              <a href="#" class="all" data-model-attribute="notify_hypotheses">Seleccionar todo</a><br>
              <a href="#" class="none" data-model-attribute="notify_hypotheses">Borrar todo</a>
          </td>
          <td class="bord-right">
              <a href="#" class="all" data-model-attribute="notify_hypotheses">Seleccionar todo</a><br>
              <a href="#" class="none" data-model-attribute="notify_hypotheses">Borrar todo</a>
          </td>
          <td class="bord-right">
              <a href="#" class="all" data-model-attribute="notify_hypotheses">Seleccionar todo</a><br>
              <a href="#" class="none" data-model-attribute="notify_hypotheses">Borrar todo</a>
          </td>
          <td class="bord-right">
              <a href="#" class="all" data-model-attribute="notify_hypotheses">Seleccionar todo</a><br>
              <a href="#" class="none" data-model-attribute="notify_hypotheses">Borrar todo</a>
          </td>
          <td class="bord-right">
              <a href="#" class="all" data-model-attribute="notify_hypotheses">Seleccionar todo</a><br>
              <a href="#" class="none" data-model-attribute="notify_hypotheses">Borrar todo</a>
          </td>
          <td class="bord-right">
              <a href="#" class="all" data-model-attribute="notify_hypotheses">Seleccionar todo</a><br>
              <a href="#" class="none" data-model-attribute="notify_hypotheses">Borrar todo</a>
          </td>
        </tr>
        <% var i = 0; %>
        <% _.each(members.sortBy(function(member) { return member.project().get("name").toLowerCase() }), function(member) { %>
        <% var project = member.project(); %>
        <% i += 1; %>
        <tr class="<%= (i % 2 == 1) ? 'blue-row' : 'grey-row' %>" data-model-id="<%= member.id %>">
          <td class="bord-right lt">
            <%= project.get("name") %>
          </td>
          <td class="bord-right">
            <%= member.get("role") %>
          </td>
          <td class="bord-right">
            <input type="checkbox" data-model-attribute="notify_hypotheses" <%= member.get("notify_hypotheses") ? "checked='checked'" : "" %> />
          </td>
          <td class="bord-right">
            <input type="checkbox" data-model-attribute="notify_hypotheses_validated" <%= member.get("notify_hypotheses_validated") ? "checked='checked'" : "" %> />
          </td>
          <td class="bord-right">
            <input type="checkbox" data-model-attribute="notify_interviews" <%= member.get("notify_interviews") ? "checked='checked'" : "" %> />
          </td>
          <td class="bord-right">
            <input type="checkbox" data-model-attribute="notify_updates" <%= member.get("notify_updates") ? "checked='checked'" : "" %> />
          </td>
          <td class="bord-right">
            <input type="checkbox" data-model-attribute="notify_goals" <%= member.get("notify_goals") ? "checked='checked'" : "" %> />
          </td>
          <td class="bord-right">
            <input type="checkbox" data-model-attribute="daily_summary" <%= member.get("daily_summary") ? "checked='checked'" : "" %> />
          </td>
          <td class="bord-right">
            <input type="checkbox" data-model-attribute="weekly_summary" <%= member.get("weekly_summary") ? "checked='checked'" : "" %> />
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </div>
</div>

