<h1 class="project"><a href="#" class="project">ORG: <%= organization ? organization.get("name") : "Select an Org" %></a></h1>
<% if (!organization) { %>
  <a href="#" title="Una organización es en escencia una cuenta. Toda la cobranza se realiza por cuenta.  Una organización puede tener uno o más proyectos.  Startups y otros equipos normalmente tienen solo un poryecto en su organización, que usualmente tiene el mismo nombre.  Organizaciones más grandes como las universidades, aceleradoras o empresas más grandes pueden tener muchos proyectos en su misma organización.">¿Qué es una organización?</a>
<% } %>
<div class="project-list">
  <ul>           
    <!-- <li class="first"><a href="#" class="new-project">(New Organization)</a></li> -->
  </ul>
</div>  
