<div class="body-wrapper">
  <div class="box-wrapper">
    <div class="info-bar">
      Resumen
    </div>
    <div class="form-body">
      <% if (organization.get("locked")) { %>
        <div class="admin-info">
          <p>
            <strong>Esta organización está en modo de solo de lectura</strong>
        </div>
      <% } %>
      <% if (organization.currentMember().get("level") == "Admin") { %>
        <div class="admin-info">
          <p>
            <strong>Tú eres una administrador en esta organización</strong> (Administradores puedes agregar y quitar miembros de cualquier proyecto y son responsables de los pagos)
          </p>
        </div>
      <% } %>
      <% if (organization.get("trial_remaining_days") && !organization.get("subscription_level_id")) { %>
        <div class="admin-info">
          <p>
            <strong>Tú tienes <%= organization.get("trial_remaining_days") %> dias restantes de tu prueba gratis</strong>
          </p>
        </div>
      <% } %>
      <p>
        <strong><%= organization.projects().length %> proyectos en la Organización</strong>
      </p>
      <p>
        <strong><%= organization.organizationMembers().length %> miembros en esta Organización</strong>
      </p>
    </div>
    <div class="info-bar">
      Proyectos en esta organización <button class="btn small new-project">+ Crear nuevo proyecto</button>
    </div>
    <div class="form-body last">
      <table border="0" cellspacing="0" cellpadding="0" class="project-table">
        <thead>
          <tr>
            <th width="252">
              Nombre del Proyecto
            </th>
            <th width="76" class="ct">
              Miembros
            </th>
            <th width="165" class="ct">
              Creado
            </th>
            <th width="182" class="ct">
              Última actualización
            </th>
            <th class="rt">
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          <% organization.projects().each(function(project) { %>
          <tr data-model-id="<%= project.id %>" class="project">
            <td>
              <%= project.get("name") %>
            </td>
            <td class="ct">
              <%= project.members().length %>
            </td>
            <td class="ct">
              <%= project.get("created_at").toString("MMM d, yyyy") %>
            </td>
            <td class="ct">
              <%= project.get("updated_at").toString("MMM d, yyyy") %>
            </td>
            <td class="rt">
              <% if (organization.currentMember().get("level") == "Admin") { %>
                <button class="btn danger delete small">Borrar</button>
              <% } else { %>
                &nbsp;
              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
