<div class="body-wrapper">
  <div class="box-wrapper">
    <div class="info-bar">
      Summary
    </div>
    <div class="form-body">
      <% if (organization.get("locked")) { %>
        <div class="admin-info">
          <p>
            <strong>This organization is in read-only mode</strong>
        </div>
      <% } %>
      <% if (organization.currentMember().get("level") == "Admin") { %>
        <div class="admin-info">
          <p>
            <strong>You are an admin within this organization</strong> (Admins can add and remove members from any project in the organization and admins are responsible for billing)
          </p>
        </div>
      <% } %>
      <% if (organization.get("trial_remaining_days") && !organization.get("subscription_level_id")) { %>
        <div class="admin-info">
          <p>
            <strong>You have <%= organization.get("trial_remaining_days") %> days remaining in your free trial</strong>
          </p>
        </div>
      <% } %>
      <p>
        <strong><%= organization.projects().length %> projects in org</strong>
      </p>
      <p>
        <strong><%= organization.organizationMembers().length %> members in this org</strong>
      </p>
    </div>
    <div class="info-bar">
      Projects in this organization <button class="btn small new-project">+ Create a new Project</button>
    </div>
    <div class="form-body last">
      <table border="0" cellspacing="0" cellpadding="0" class="project-table">
        <thead>
          <tr>
            <th width="252">
              Project Name
            </th>
            <th width="76" class="ct">
              Members
            </th>
            <th width="165" class="ct">
              Created
            </th>
            <th width="182" class="ct">
              Last Updated
            </th>
            <th class="rt">
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          <% organization.projects().each(function(project) { %>
          <tr data-model-id="<%= project.id %>" class="project">
            <td>
              <%= project.get("name") %>
            </td>
            <td class="ct">
              <%= project.members().length %>
            </td>
            <td class="ct">
              <%= project.get("created_at").toString("MMM d, yyyy") %>
            </td>
            <td class="ct">
              <%= project.get("updated_at").toString("MMM d, yyyy") %>
            </td>
            <td class="rt">
              <% if (organization.currentMember().get("level") == "Admin") { %>
                <button class="btn danger delete small">Delete</button>
              <% } else { %>
                &nbsp;
              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
