<% var level = organization.subscriptionLevel(); %>
<div class="body-wrapper">
  <div class="box-wrapper">
    <div class="info-bar">
      Planes e información de pago
    </div>
    <div class="form-body">
      <% if (organization.get("locked")) { %>
        <div class="admin-info">
          <p><strong>Tu prueba gratis se ha terminado. Agrega los datos de tu tarjeta de crédito para activar tu cuenta.</strong></p>
        </div>
      <% } %>
      <div class="accountinfo">
        <% if (level) { %>
          <h2>
            Tu Plan:
            <%= level.get("name") %>
            <% if (organization.get("subscription_price") == 0) { %>
              (GRATIS)
            <% } else { %>
              ($<%= organization.get("subscription_price").toFixed(0) %>/<%= organization.get("subscription_yearly") ? "year" : "month" %>)
            <% } %>
          </h2>        
          <br class="spacer"/>
          <% if (organization.get("subscription_yearly")) { %>
            <a href="#" class="yearly">
              <small>
                Regresar a pago mensual
              </small>
            </a>
          <% } else if (level.get("yearly_price") != null) { %>
            <a href="#" class="yearly">
              <small>
                Guardar
                <%= ((1-(level.get("yearly_price") / (level.get("monthly_price")*12)))*100).toFixed(0) %>%
                pagando
                $<%= level.get("yearly_price") %> for 12 months
              </small>
            </a>
          <% } %>
          <br class="spacer"/>
          <a class="cancel-account" href="#">or cancel account</a>
        <% } else { %>
            <h2>Tu plan:: Periodo de prueba (GRATIS)</h2>
        <% } %>
        <div class="cc">
          <% if (organization.get("cc_last4")) { %>
            <label>Tenemos la siguiente tarjeta guardada:</label>
            <span><%= organization.get("cc_type")%> ************<%= organization.get("cc_last4") %> (exp. <%= organization.get("cc_exp_month") %>/<%= organization.get("cc_exp_year") %>)</span>
            <button class="btn signup-bttn edit">Edit</button>
          <% } %>
        </div>
      </div>      
      <% if (organization.get("trial_remaining_days")) { %>
        <div class="price-box <% if (!organization.get("subscription_level_id")) { %> price-box-blue <% } %>">
          <h3><strong>Prueba Gratis (<%= organization.get("trial_remaining_days") %> days remaining)</strong></h3>
          <p>
          <% if (organization.get("subscription_level_id")) { %>
            El periodo de pago iniciará en <%= organization.get("trial_end_date").toDateString() %>
          <% } else { %>
            Uso ilimitado durante periodo de prueba
          <% } %>
          </p>
          <div class="price-bttn">                    
            <a href="#">Tu Plan</a>
          </div>
        </div>
      <% } %>
      <% _.each(plans, function(plan) { %>
        <div class="price-box <%= plan.get('name') %>">
          <h3>
            <strong><%= plan.get("name") %></strong> - <em><%= plan.get("tagline") %></em>
          </h3>
          <ul>
            <li>
              <% if (plan.get("max_projects") == 1) { %>
                1 proyecto
              <% } else if (plan.get("max_projects")) { %>
                <%= plan.get("max_projects") %> proyectos
              <% } else { %>
                Proyectos ilimitados
              <% } %>
            </li>
            <li class="collab">
              <% if (plan.get("max_members") == 1) { %>
                1 colaborador
              <% } else if (plan.get("max_members")) { %>
                <%= plan.get("max_members") %> colaboradores
              <% } else { %>
                Colaboradores ilimitados
              <% } %>
            </li>
            <li class="storage">
              <% if (plan.get("max_storage_mb") >= 1024) { %>
                <%= Math.ceil(plan.get("max_storage_mb") / 1024) %> gb
              <% } else { %>
                <%= plan.get("max_storage_mb") %> mb
              <% } %>
              Espacio para archivos
            </li>
            <li class="email">
              <% if (plan.get("support_chat") && plan.get("support_phone")) { %>
                Email, chat, y telefono
              <% } else if (plan.get("support_chat")) { %>
                Email y chat
              <% } else { %>
                Email
              <% } %>
              Soporte
            </li>
          </ul>
          <div class="price-bttn">
            <% if (plan.get("monthly_price")) { %>
              <span class="price-text">
                $<%= plan.get("monthly_price").toFixed(0) %><small>al mes</small>
              </span>
              <a href="#">Seleccionar</a>
              <% if (plan.get("yearly_price")) { %>
                <p>
                  o $<%= plan.get("yearly_price").toFixed(0) %> por 12 meses (<%= ((1-(plan.get("yearly_price")/(12*plan.get("monthly_price"))))*100).toFixed(0) %>% discount)
                </p>
              <% } %>
            <% } else if (plan.get("monthly_price") == 0) { %>
              <span class="price-text">
                GRATIS
              </span>
              <a href="#">Seleccionar</a>
            <% } else { %>
              <a href="#">Contactar Ventas</a>
            <% } %>
          </div>
        </div>
      <% }); %>
    </div>
    <div class="info-bar">
      Historial de Pago <!-- <button class="btn small">export as CSV</button> -->
    </div>
    <div class="form-body">
      <table border="0" cellspacing="0" cellpadding="0" class="project-table">
        <thead>
          <tr>
            <th width="276">
              Número de Transacción
            </th>
            <th width="112" class="ct">
              Fecha del cargo
            </th>
            <th width="158" class="ct">
              Cantidad
            </th>
            <th width="158" class="rt">
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (organization.charges().length > 0) { %>
            <% organization.charges().each(function(charge) { %>
            <tr>
              <td>
                <%= charge.id %>
              </td>
              <td class="ct">
                <%= charge.get("created_at").toString("MMM d, yyyy") %>
              </td>
              <td class="ct">
                $<%= charge.get("amount").toFixed(2) %> USD
              </td>
              <td class="ct">
                &nbsp;
              </td>
            </tr>
            <% }); %>
          <% } else { %>
            <tr>
              <td>(No hay datos que mostrar)</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="info-bar">
      Preguntas Frecuentes del Pago
    </div>
    <div class="form-body last">
      <p>
        <strong>¿Cuándo se hace el cobro a mi tarjeta?</strong>
        El primer día de cada mes.
          Si te inscribiste en la mitad del mes se te cargará solo la mitad por ese primer mes.
          Si cambias de plan se te acumulará o cargará la diferencia prorateada de lo restante del mes.
      </p>
      <p>
        <strong>¿Qué tipos de pagos aceptan?</strong><br>
        Aceptamos Visa, Mastercard, American Express.
      </p>
      <p>
        <strong>¿Puedo pagar en cualquier moneda?</strong><br>
        Si. Pero para facilitar la transacción convertimos tu tipo de cambio a Dolares al tipo de cambio que esté vigente en el momento, así que puede variar.
      </p>
    </div>
  </div>
</div>
