<div class="body-wrapper">
  <div class="box-wrapper">
    <div class="form-body">
      <div style="float: left; width: 500px">
        <h2><%= organizationMember.user().get("name") %></h2>
        Favor de introducir los datos de tu tarjeta de crédito para hacer un pago único de $<%= parseInt(organizationMember.organization().get("member_price")).toFixed(2) %>.  Si tienes alguna pregunta contactanos en <a href="mailto:hola@spartans.academy">hola@spartans.academy</a>.
      </div>
      <div class="accountinfo">
        <div class="cc"></div>
      </div>
     </div>
  </div>
</div>
