<div class="excel-heading">
  Copiar y pegar desde excel
  <img alt="" border="0" title="Importación masiva copiando directamente desde Excel"/>
  <a href="https://docs.google.com/spreadsheet/ccc?key=0Ap55BNS2SRHVdDg0MjkyX3hXRE8zckJXRndqNDNCdVE" target="_blank">ejemplo</a>
</div>
<div class="excel-header">
  <div class="excel-name">
    Nombre
  </div>
  <div class="excel-email">
    Email
  </div>
  <div class="excel-perm">
    Permisos<br>
    (predeterminado Normal)
  </div>
  <div class="excel-role">
    Rol<br>
    (predeterminado Colaborador)
  </div>
</div>
<textarea class="area" placeholder="John Doe                                    john.doe@gmail.com            Normal                                    Manager"></textarea>
<button class="btn import">IMPORTAR</button>
