<div class="excel-heading">
  Copiar y pegar desde Excel
  <img alt="" border="0" title="Bulk import members by copying and pasting directly from Excel"/>
  <a href="https://docs.google.com/spreadsheet/ccc?key=0Ap55BNS2SRHVdDg0MjkyX3hXRE8zckJXRndqNDNCdVE" target="_blank">ejemplo</a>
</div>
<div class="excel-header">
  <div class="excel-name">
    Nombre
  </div>
  <div class="excel-email">
    Email
  </div>
  <div class="excel-perm">
    Permisos<br>
    (predeterminado Normal)
  </div>
</div>
<textarea class="area" placeholder="John Doe                                    john.doe@gmail.com            Admin"></textarea>
<button class="btn import">IMPORTAR</button>
