<div class="excel-heading">
  Copy/paste from excel
  <img alt="" border="0" title="Bulk import members by copying and pasting directly from Excel"/>
  <a href="https://docs.google.com/spreadsheet/ccc?key=0Ap55BNS2SRHVdDg0MjkyX3hXRE8zckJXRndqNDNCdVE" target="_blank">example</a>
</div>
<div class="excel-header">
  <div class="excel-name">
    Name
  </div>
  <div class="excel-email">
    Email
  </div>
  <div class="excel-perm">
    Permission<br>
    (default Normal)      
  </div>
</div>
<textarea class="area" placeholder="John Doe                                    john.doe@gmail.com            Admin"></textarea>
<button class="btn import">IMPORT</button>
