<div class="<%= project.get('goal_canvas_completed') ? 'completed' : '' %>"><a href="#" class="canvas" title="Click for help text">Fill Out Canvas</a></div>
<div class="<%= project.get('goal_create_hypothesis_completed') ? 'completed' : '' %>"><a href="#" class="create-hypothesis" title="Click for help text">Create a Hypothesis</a></div>
<div class="<%= project.get('goal_test_hypothesis_completed') ? 'completed' : '' %>"><a href="#" class="test-hypothesis" title="Click for help text">Test a Hypothesis</a></div>
<div class="<%= project.get('goal_validate_hypothesis_completed') ? 'completed' : '' %>"><a href="#" class="validate-hypothesis" title="Click for help text">(In)validate a Hypothesis</a></div>
<div class="<%= project.get('goal_interview_completed') ? 'completed' : '' %>"><a href="#" class="interview" title="Click for help text">Store an Interview</a></div>
<div class="<%= project.get('goal_invite_completed') ? 'completed' : '' %>"><a href="#" class="invite" title="Click for help text">Invite Team Members</a></div>
