<ul class="topul">
  <li class="first">
    <h2>
      UPDATES
    </h2>
  </li>
</ul>
<div class="journal-updates-sidebar">
  <div class="journal-updates summary">
    <div class="items hypothesis-in-progress-items grey-box">
      <a href="#"><span class="date"></span> <span class="interviews">Hypotheses Being Tested</span></a>
    </div>
    <div class="items hypothesis-items grey-box">
      <a href="#"><span class="date"></span> <span class="interviews">Hypotheses Validated or Invalidated</span></a>
    </div>
    <div class="items update-items grey-box">
      <a href="#"><span class="date"></span> <span class="interviews">Journal Updates</span></a>
    </div>
    <div class="items interview-items grey-box">
      <a href="#"><span class="date"></span> <span class="interviews">Customer Interviews</span></a>
    </div>
  </div>
  <div class="updates-items" />
  <p class="more-link">
    <button class="btn more">More</button>
  </p>
</div>
