<ul class="topul">
  <li class="first">
    <h2>
      ACTUALIZACIONES
    </h2>
  </li>
</ul>
<div class="journal-updates-sidebar">
  <div class="journal-updates summary">
    <div class="items hypothesis-in-progress-items grey-box">
      <a href="#"><span class="date"></span> <span class="interviews">Hipotesis Siendo Probadas</span></a>
    </div>
    <div class="items hypothesis-items grey-box">
      <a href="#"><span class="date"></span> <span class="interviews">Hipotesis Validadas o Invalidadas</span></a>
    </div>
    <div class="items update-items grey-box">
      <a href="#"><span class="date"></span> <span class="interviews">Actualizaciones en la Minuta</span></a>
    </div>
    <div class="items interview-items grey-box">
      <a href="#"><span class="date"></span> <span class="interviews">Entrevistas de Clientes</span></a>
    </div>
  </div>
  <div class="updates-items" />
  <p class="more-link">
    <button class="btn more">Más</button>
  </p>
</div>
