<ul class="toplink">
  <li>
    <a href="#" title="Mapea tu modelo de negocios" class="canvas">Canvas</a>
  </li>
  <li>
    <a href="#" class="plan" title="Define tus hipotesis, experimentos y trbaja en ellos">El Plan</a>
  </li>
  <li>
    <a href="#" class="tasks" title="Lo que necesitas hacer para progresar en la busqueda de conocimiento validado">Tareas</a>
  </li>
  <li>
    <a href="#" class="interviews" title="Registra los contactos que has tenido con los clientes">Entrevistas</a>
  </li>
  <li>
    <a href="#" class="journal" title="Resumen de los conocimientos obtenidos">Minutas</a>
  </li>
  <li>
    <a href="#" class="members" title="Agrega personas a este proyecto">Miembros</a>
  </li>
  <li>
    <a href="#" class="settings" title="cambia el nombre y descripción del proyecto">Ajustes de proyecto</a>
  </li>
</ul>
<br class="spacer">
