<ul class="toplink">
  <li>
    <a href="#" title="Map out your business model" class="canvas">Canvas</a>
  </li>
  <li>
    <a href="#" class="plan">The Plan</a>
  </li>
  <li>
    <a href="#" class="tasks">Tasks</a>
  </li>
  <li>
    <a href="#" class="interviews">Interviews</a>
  </li>
  <li>
    <a href="#" class="journal">Journal</a>
  </li>
  <li>
    <a href="#" class="members">Members</a>
  </li>
  <li>
    <a href="#" class="settings">Project Settings</a>
  </li>
</ul>
<br class="spacer">
