<div class="body-wrapper">
  <div class="box-wrapper">
    <div class="info-bar paym-info-bar">
      Project: <span><%= project.get("name") %> (<span class="member-count"><%= project.members().length %></span> members)</span>
      <% if (project.organization().currentMember().get("level") == "Admin" && project.organization().subscriptionLevel()) { %>
        Plan de Suscripción:
        <%= organization.subscriptionLevel().get("name") %>
      <% } %>
    </div>  
    <div class="form-body">
      <div class="member-area">
      </div>
    </div>
  </div>
</div>
