<div class="<%= project.get('goal_canvas_completed') ? 'completed' : '' %>"><a href="#" class="canvas" title="Da Click para ayuda">Llenar el Canvas</a></div>
<div class="<%= project.get('goal_create_hypothesis_completed') ? 'completed' : '' %>"><a href="#" class="create-hypothesis" title="Da Click para ayuda"">Crear Hipotesis</a></div>
<div class="<%= project.get('goal_test_hypothesis_completed') ? 'completed' : '' %>"><a href="#" class="test-hypothesis" title="Da Click para ayuda"">Probar las Hipotesis</a></div>
<div class="<%= project.get('goal_validate_hypothesis_completed') ? 'completed' : '' %>"><a href="#" class="validate-hypothesis" title="Da Click para ayuda"">(In)validar Hipotesis</a></div>
<div class="<%= project.get('goal_interview_completed') ? 'completed' : '' %>"><a href="#" class="interview" title="Da Click para ayuda"">Hacer entrevistas de problema y solución</a></div>
<div class="<%= project.get('goal_invite_completed') ? 'completed' : '' %>"><a href="#" class="invite" title="Da Click para ayuda"">Invitar miembros del equipo</a></div>
