<div class="body-wrapper">
  <div class="box-wrapper">
    <div class="form-body">
      <div style="float: left; width: 500px">
        <h2><%= project.get("name") %></h2>
        Thanks for using LeanLaunchLab!  Please enter your credit card information to the right for a one-time payment of $<%= parseInt(project.get("price")).toFixed(2) %>.  If you have any questions please contact <a href="mailto:support@leanlaunchlab.com">support@leanlaunchlab.com</a>.
      </div>
      <div class="accountinfo">
        <div class="cc"></div>
      </div>
     </div>
  </div>
</div>
