<div class="body-wrapper">
  <div class="box-wrapper">
    <div class="form-body">
      <div style="float: left; width: 500px">
        <h2><%= project.get("name") %></h2>
        Gracias por usar Spartans Online Academy, Por favor introduce la información de tu tarjeta de crédito a la derecha para hacer el pago de $<%= parseInt(project.get("price")).toFixed(2) %>.  Si tienes alguna pregunta contactanos en <a href="mailto:hola@spartans.academy">hola@spartans.academy</a>.
      </div>
      <div class="accountinfo">
        <div class="cc"></div>
      </div>
     </div>
  </div>
</div>
