<p class="jbar">
  <span class="cal"><%= blog_post.get("published_at").toString("MMM d, yyyy")%></span>
  <a href="#" class="update">
    <% if (is_new) { %>
      <span class="new">New</span>
    <% } %>
    <%= blog_post.get("title") %>
  </a>
</p>
<p class="details">
  in
  <a href="<%= blog_post.project().get('journal_url') %>"><%= blog_post.project().get("name") %></a>
  <% if (blog_post.member()) { %>
    (<%= blog_post.member().user().get("name") %>)
  <% } %>
</p>

<% if (blog_post.get("the_ask")) { %>
  <div class="askbar">
    The Ask
    <span><%= blog_post.get("the_ask") %></span>
  </div>
<% } %>

<% if (blog_post.get("description")) { %>
  <div class="description"><%- blog_post.get("description") %></div>
<% } %>

<h4>Adjuntos</h4>
<div class="attachments"></div>
<div class="upload"></div>

<h4>Comentarios</h4>
<div class="comments"></div>
