<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand brand" href="/"><img src="<%= asset_path 'v2/logo.png' %>" alt="Spartans Online Academy"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
                <li ><a href="/projects" title="Maneja varios proyectos de manera sencilla">Panel de Proyectos</a></li>
                <li ><a href="/projects/last">Proyecto</a></li>
                <li ><a href="/organizations/last">Administrar cuenta</a></li>
                <li ><a href="/settings/profile"><%= current_user.name %></a></li>
                <li><a href="/users/sign_out">Salir</a></li>
            <%  else  %>
                <li><a href="/users/sign_up">Inscribirse</a></li>
                <li><a href="/users/sign_in">Entrar</a></li>
                <% end %>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>