<nav class="navbar navbar-trans navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="<%= asset_path 'v2/logo.png' %>" alt="StartupManager"></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li ><a href="/projects/last" title="Administrar el proyecto seleccionado">Ir al Proyecto</a></li>
            <li ><a href="/organizations/last" title="Crea Proyectos y a침ade personas a tu organizaci칩n">Administrar Organizaci칩n</a></li>
            <li ><a href="/projects" title="Maneja varios proyectos de manera sencilla">Resumen de Proyectos</a></li>
            <li ><a href="/settings/profile" title="Cambia tu nombre y contrase침a"><%= current_user.name %></a></li>
            <li><a href="/users/sign_out">Salir</a></li>

        <%  else  %>
            <li><a href="/users/sign_up">Inscribirse</a></li>
            <li><a href="/users/sign_in">Entrar</a></li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>